/* line 1, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
body {
  background-color: #FFFFFF;
  color: #000000;
  font-family: Arial;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.1875;
  margin: 0;
  padding: 0;
}

/* line 12, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#wb_LayoutLoginMon {
  clear: both;
  position: relative;
  table-layout: fixed;
  display: table;
  text-align: center;
  width: 100%;
  background-color: transparent;
  background-image: none;
  border: 0px solid #CCCCCC;
  box-sizing: border-box;
  margin: 0;
}

/* line 26, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#LayoutLoginMon {
  box-sizing: border-box;
  padding: 0px 5px 0px 5px;
  margin-right: auto;
  margin-left: auto;
}

/* line 33, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#LayoutLoginMon .row {
  margin-right: -5px;
  margin-left: -5px;
}

/* line 38, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#LayoutLoginMon > .row > .col-1, #LayoutLoginMon > .row > .col-2, #LayoutLoginMon > .row > .col-3 {
  box-sizing: border-box;
  font-size: 0px;
  min-height: 1px;
  padding-right: 5px;
  padding-left: 5px;
  position: relative;
}

/* line 47, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#LayoutLoginMon > .row > .col-1, #LayoutLoginMon > .row > .col-2, #LayoutLoginMon > .row > .col-3 {
  float: left;
}

/* line 51, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#LayoutLoginMon > .row > .col-1 {
  background-color: transparent;
  background-image: none;
  border: 0px solid #FFFFFF;
  width: 16.66666667%;
  text-align: center;
}

/* line 59, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#LayoutLoginMon > .row > .col-2 {
  background-color: transparent;
  background-image: none;
  border: 0px solid #FFFFFF;
  width: 66.66666667%;
  text-align: center;
}

/* line 67, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#LayoutLoginMon > .row > .col-2 > .col-2-padding {
  padding: 0px 5px 0px 0px;
}

/* line 71, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#LayoutLoginMon > .row > .col-3 {
  background-color: transparent;
  background-image: none;
  border: 0px solid #FFFFFF;
  width: 16.66666667%;
  text-align: center;
}

/* line 79, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#LayoutLoginMon:before,
#LayoutLoginMon:after,
#LayoutLoginMon .row:before,
#LayoutLoginMon .row:after {
  display: table;
  content: " ";
}

/* line 87, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#LayoutLoginMon:after,
#LayoutLoginMon .row:after {
  clear: both;
}

@media (max-width: 480px) {
  /* line 94, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #LayoutLoginMon > .row > .col-1, #LayoutLoginMon > .row > .col-2, #LayoutLoginMon > .row > .col-3 {
    float: none;
    width: 100% !important;
  }
}
/* line 100, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#separador1Mon {
  border-color: #FFFFFF;
  border-style: solid;
  border-bottom-width: 53px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0 !important;
  line-height: 0px !important;
  margin: 0;
  padding: 0;
}

/* line 113, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#wb_TextTituloLoginMon div {
  text-align: center;
}

/* line 117, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#separador2Mon {
  border-color: #FFFFFF;
  border-style: solid;
  border-bottom-width: 51px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0 !important;
  line-height: 0px !important;
  margin: 0;
  padding: 0;
}

/* line 130, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#wb_iconLoginMonitoria {
  background-color: transparent;
  background-image: none;
  border: 0px solid #245580;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 158px;
  vertical-align: top;
  display: inline-block;
  position: relative;
}

/* line 143, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#wb_iconLoginMonitoria:hover {
  background-color: transparent;
  background-image: none;
  border: 0px solid #245580;
}

/* line 149, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#iconLoginMonitoria {
  vertical-align: middle;
}

/* line 153, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#iconLoginMonitoria g {
  fill: #0076C0;
  display: inline-block;
  font-size: 158px;
  vertical-align: middle;
  width: 157px;
}

/* line 161, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#wb_iconLoginMonitoria:hover g {
  fill: #337AB7;
}

/* line 165, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#separador3Mon {
  border-color: #FFFFFF;
  border-style: solid;
  border-bottom-width: 21px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0 !important;
  line-height: 0px !important;
  margin: 0;
  padding: 0;
}

/* line 178, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#EditboxCodigo:focus {
  border-color: #66AFE9;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.6);
  outline: 0;
}

/* line 184, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#EditboxCodigo::placeholder {
  color: #C1C1C1;
  opacity: 1;
}

/* line 189, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#EditboxCodigo::-ms-input-placeholder {
  color: #C1C1C1;
}

/* line 193, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#separador4Mon {
  border-color: #FFFFFF;
  border-style: solid;
  border-bottom-width: 21px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0 !important;
  line-height: 0px !important;
  margin: 0;
  padding: 0;
}

/* line 206, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#EditboxPassword:focus {
  border-color: #66AFE9;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.6);
  outline: 0;
}

/* line 212, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#EditboxPassword::placeholder {
  color: #C1C1C1;
  opacity: 1;
}

/* line 217, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#EditboxPassword::-ms-input-placeholder {
  color: #C1C1C1;
}

/* line 221, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#separador5Mon {
  border-color: #FFFFFF;
  border-style: solid;
  border-bottom-width: 21px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0 !important;
  line-height: 0px !important;
  margin: 0;
  padding: 0;
}

/* line 234, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#EditboxCodMateria:focus {
  border-color: #66AFE9;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.6);
  outline: 0;
}

/* line 240, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#EditboxCodMateria::placeholder {
  color: #C1C1C1;
  opacity: 1;
}

/* line 245, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#EditboxCodMateria::-ms-input-placeholder {
  color: #C1C1C1;
}

/* line 249, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#separador6Mon {
  border-color: #FFFFFF;
  border-style: solid;
  border-bottom-width: 20px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0 !important;
  line-height: 0px !important;
  margin: 0;
  padding: 0;
}

/* line 262, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#ButtonEntrarMonitoria {
  font-family: "Segoe UI";
  font-weight: bold;
  font-size: 16px;
  font-style: normal;
  border-width: 1px;
}

/* line 270, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#wb_ButtonEntrarMonitoria {
  margin: 0;
}

/* line 274, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#wb_ButtonEntrarMonitoria .ui-button {
  margin: 0;
  padding: 0;
  line-height: 52px;
}

/* line 280, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#ButtonEntrarMonitoria {
  color: #454545;
  text-decoration: none;
}

/* line 285, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#ButtonEntrarMonitoria :hover {
  color: #2B2B2B;
}

/* line 289, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#ButtonEntrarMonitoria :active {
  color: #FFFFFF;
}

/* line 293, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#wb_ButtonEntrarMonitoria .ui-corner-all, #wb_ButtonEntrarMonitoria .ui-corner-left {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

/* line 298, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#wb_ButtonEntrarMonitoria .ui-corner-all, #wb_ButtonEntrarMonitoria .ui-corner-right {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

/* line 303, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#wb_LayoutFormMon {
  clear: both;
  position: relative;
  table-layout: fixed;
  display: table;
  text-align: center;
  width: 100%;
  background-color: transparent;
  background-image: none;
  border: 0px solid #CCCCCC;
  box-sizing: border-box;
  margin: 0;
}

/* line 317, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#LayoutFormMon {
  box-sizing: border-box;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
}

/* line 324, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#LayoutFormMon .row {
  margin-right: 0;
  margin-left: 0;
}

/* line 329, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#LayoutFormMon > .row > .col-1 {
  box-sizing: border-box;
  font-size: 0px;
  min-height: 1px;
  padding-right: 0px;
  padding-left: 0px;
  position: relative;
}

/* line 338, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#LayoutFormMon > .row > .col-1 {
  float: left;
}

/* line 342, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#LayoutFormMon > .row > .col-1 {
  background-color: transparent;
  background-image: none;
  border: 0px solid #FFFFFF;
  width: 100%;
  text-align: center;
}

/* line 350, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#LayoutFormMon:before,
#LayoutFormMon:after,
#LayoutFormMon .row:before,
#LayoutFormMon .row:after {
  display: table;
  content: " ";
}

/* line 358, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#LayoutFormMon:after,
#LayoutFormMon .row:after {
  clear: both;
}

@media (max-width: 480px) {
  /* line 365, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #LayoutFormMon > .row > .col-1 {
    float: none;
    width: 100% !important;
  }
}
/* line 371, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#separador7Mon {
  border-color: #FFFFFF;
  border-style: solid;
  border-bottom-width: 10px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0 !important;
  line-height: 0px !important;
  margin: 0;
  padding: 0;
}

/* line 384, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#separador8Mon {
  border-color: #FFFFFF;
  border-style: solid;
  border-bottom-width: 15px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0 !important;
  line-height: 0px !important;
  margin: 0;
  padding: 0;
}

/* line 397, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#EditboxPassword {
  display: block;
  width: 100%;
  height: 50px;
  z-index: 7;
}

/* line 404, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#separador8Mon {
  display: block;
  width: 100%;
  z-index: 14;
}

/* line 410, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#separador7Mon {
  display: block;
  width: 100%;
  z-index: 12;
}

/* line 416, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#EditboxCodMateria {
  display: block;
  width: 100%;
  height: 50px;
  z-index: 9;
}

/* line 423, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#separador6Mon {
  display: block;
  width: 100%;
  z-index: 10;
}

/* line 429, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#iconLoginMonitoria {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

/* line 437, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#wb_ButtonEntrarMonitoria {
  display: inline-block;
  width: 301px;
  height: 54px;
  z-index: 13;
}

/* line 444, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#separador5Mon {
  display: block;
  width: 100%;
  z-index: 8;
}

/* line 450, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#separador4Mon {
  display: block;
  width: 100%;
  z-index: 6;
}

/* line 456, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#EditboxCodigo {
  display: block;
  width: 100%;
  height: 50px;
  z-index: 5;
}

/* line 463, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#separador3Mon {
  display: block;
  width: 100%;
  z-index: 4;
}

/* line 469, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#Html2 {
  display: inline-block;
  width: 301px;
  height: 74px;
  z-index: 11;
}

/* line 476, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#separador2Mon {
  display: block;
  width: 100%;
  z-index: 2;
}

/* line 482, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#separador1Mon {
  display: block;
  width: 100%;
  z-index: 0;
}

/* line 488, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#ButtonEntrarMonitoria {
  width: 100%;
  height: 100%;
}

/* line 493, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
#wb_iconLoginMonitoria {
  display: inline-block;
  width: 190px;
  height: 158px;
  text-align: center;
  z-index: 3;
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  /* line 503, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  body {
    background-color: #FFFFFF;
    background-image: none;
  }

  /* line 508, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #wb_LayoutLoginMon {
    visibility: visible;
    display: table;
  }

  /* line 513, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #wb_LayoutLoginMon {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  /* line 518, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #LayoutLoginMon {
    padding: 0px 5px 0px 5px;
  }

  /* line 522, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #LayoutLoginMon .row {
    margin-right: -5px;
    margin-left: -5px;
  }

  /* line 527, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #LayoutLoginMon > .row > .col-1, #LayoutLoginMon > .row > .col-2, #LayoutLoginMon > .row > .col-3 {
    padding-right: 5px;
    padding-left: 5px;
  }

  /* line 532, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #LayoutLoginMon > .row > .col-1 {
    display: block;
    width: 16.66666667%;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    text-align: center;
  }

  /* line 540, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #LayoutLoginMon > .row > .col-2 {
    display: block;
    width: 66.66666667%;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    text-align: center;
  }

  /* line 548, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #LayoutLoginMon > .row > .col-2 > .col-2-padding {
    padding: 0px 5px 0px 0px;
  }

  /* line 552, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #LayoutLoginMon > .row > .col-3 {
    display: block;
    width: 16.66666667%;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    text-align: center;
  }

  /* line 560, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador1Mon {
    width: calc(100% - 0px);
    height: 53px;
    visibility: visible;
    display: block;
    margin: 0;
  }

  /* line 568, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador1Mon {
    border-color: #FFFFFF;
    border-bottom-width: 53px;
  }

  /* line 573, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #wb_TextTituloLoginMon {
    visibility: visible;
    display: block;
  }

  /* line 578, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador2Mon {
    width: calc(100% - 0px);
    height: 51px;
    visibility: visible;
    display: block;
    margin: 0;
  }

  /* line 586, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador2Mon {
    border-color: #FFFFFF;
    border-bottom-width: 51px;
  }

  /* line 591, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #wb_iconLoginMonitoria {
    width: 190px;
    height: 158px;
    visibility: visible;
    display: inline-block;
    color: #0076C0;
    font-size: 8px;
    font-family: Arial;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    margin: 0;
    padding: 0;
  }

  /* line 608, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #iconLoginMonitoria {
    width: 190px;
    height: 158px;
  }

  /* line 613, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #iconLoginMonitoria g {
    line-height: 158px;
    font-size: 158px;
    width: 157px;
  }

  /* line 619, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador3Mon {
    width: calc(100% - 0px);
    height: 21px;
    visibility: visible;
    display: block;
    margin: 0;
  }

  /* line 627, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador3Mon {
    border-color: #FFFFFF;
    border-bottom-width: 21px;
  }

  /* line 632, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #EditboxCodigo {
    width: calc(100% - 0px);
    height: 50px;
    visibility: visible;
    display: block;
    margin: 0;
    padding: 4px 4px 4px 4px;
    text-align: left;
  }

  /* line 642, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador4Mon {
    width: calc(100% - 0px);
    height: 21px;
    visibility: visible;
    display: block;
    margin: 0;
  }

  /* line 650, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador4Mon {
    border-color: #FFFFFF;
    border-bottom-width: 21px;
  }

  /* line 655, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #EditboxPassword {
    width: calc(100% - 0px);
    height: 50px;
    visibility: visible;
    display: block;
    margin: 0;
    padding: 4px 4px 4px 4px;
    text-align: left;
  }

  /* line 665, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador5Mon {
    width: calc(100% - 0px);
    height: 21px;
    visibility: visible;
    display: block;
    margin: 0;
  }

  /* line 673, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador5Mon {
    border-color: #FFFFFF;
    border-bottom-width: 21px;
  }

  /* line 678, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #EditboxCodMateria {
    width: calc(100% - 0px);
    height: 50px;
    visibility: visible;
    display: block;
    margin: 0;
    padding: 4px 4px 4px 4px;
    text-align: left;
  }

  /* line 688, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador6Mon {
    width: calc(100% - 0px);
    height: 21px;
    visibility: visible;
    display: block;
    margin: 0;
  }

  /* line 696, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador6Mon {
    border-color: #FFFFFF;
    border-bottom-width: 21px;
  }

  /* line 701, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #Html2 {
    width: 190px;
    height: 74px;
    visibility: visible;
    display: inline-block;
  }

  /* line 708, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #wb_ButtonEntrarMonitoria {
    width: 171px;
    height: 54px;
    visibility: visible;
    display: inline-block;
    margin: 0;
  }

  /* line 716, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #wb_LayoutFormMon {
    visibility: visible;
    display: table;
    font-size: 13px;
    font-family: Arial;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    background-color: transparent;
    background-image: none;
  }

  /* line 728, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #wb_LayoutFormMon {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  /* line 733, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #LayoutFormMon {
    padding: 0;
  }

  /* line 737, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #LayoutFormMon .row {
    margin-right: -0px;
    margin-left: -0px;
  }

  /* line 742, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #LayoutFormMon > .row > .col-1 {
    padding-right: 0px;
    padding-left: 0px;
  }

  /* line 747, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #LayoutFormMon > .row > .col-1 {
    display: block;
    width: 100%;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    text-align: left;
  }

  /* line 755, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador7Mon {
    width: calc(100% - 0px);
    height: 10px;
    visibility: visible;
    display: block;
    margin: 0;
  }

  /* line 763, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador7Mon {
    border-color: #FFFFFF;
    border-bottom-width: 10px;
  }

  /* line 768, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador8Mon {
    width: calc(100% - 0px);
    height: 15px;
    visibility: visible;
    display: block;
    margin: 0;
  }

  /* line 776, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador8Mon {
    border-color: #FFFFFF;
    border-bottom-width: 15px;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1023px) {
  /* line 784, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  body {
    background-color: #FFFFFF;
    background-image: none;
  }

  /* line 789, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #wb_LayoutLoginMon {
    visibility: visible;
    display: table;
  }

  /* line 794, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #wb_LayoutLoginMon {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  /* line 799, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #LayoutLoginMon {
    padding: 0px 5px 0px 5px;
  }

  /* line 803, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #LayoutLoginMon .row {
    margin-right: -5px;
    margin-left: -5px;
  }

  /* line 808, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #LayoutLoginMon > .row > .col-1, #LayoutLoginMon > .row > .col-2, #LayoutLoginMon > .row > .col-3 {
    padding-right: 5px;
    padding-left: 5px;
  }

  /* line 813, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #LayoutLoginMon > .row > .col-1 {
    display: block;
    width: 16.66666667%;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    text-align: center;
  }

  /* line 821, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #LayoutLoginMon > .row > .col-2 {
    display: block;
    width: 66.66666667%;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    text-align: center;
  }

  /* line 829, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #LayoutLoginMon > .row > .col-2 > .col-2-padding {
    padding: 0px 5px 0px 0px;
  }

  /* line 833, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #LayoutLoginMon > .row > .col-3 {
    display: block;
    width: 16.66666667%;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    text-align: center;
  }

  /* line 841, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador1Mon {
    width: calc(100% - 0px);
    height: 53px;
    visibility: visible;
    display: block;
    margin: 0;
  }

  /* line 849, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador1Mon {
    border-color: #FFFFFF;
    border-bottom-width: 53px;
  }

  /* line 854, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #wb_TextTituloLoginMon {
    visibility: visible;
    display: block;
  }

  /* line 859, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador2Mon {
    width: calc(100% - 0px);
    height: 51px;
    visibility: visible;
    display: block;
    margin: 0;
  }

  /* line 867, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador2Mon {
    border-color: #FFFFFF;
    border-bottom-width: 51px;
  }

  /* line 872, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #wb_iconLoginMonitoria {
    width: 190px;
    height: 158px;
    visibility: visible;
    display: inline-block;
    color: #0076C0;
    font-size: 8px;
    font-family: Arial;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    margin: 0;
    padding: 0;
  }

  /* line 889, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #iconLoginMonitoria {
    width: 190px;
    height: 158px;
  }

  /* line 894, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #iconLoginMonitoria g {
    line-height: 158px;
    font-size: 158px;
    width: 157px;
  }

  /* line 900, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador3Mon {
    width: calc(100% - 0px);
    height: 21px;
    visibility: visible;
    display: block;
    margin: 0;
  }

  /* line 908, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador3Mon {
    border-color: #FFFFFF;
    border-bottom-width: 21px;
  }

  /* line 913, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #EditboxCodigo {
    width: calc(100% - 0px);
    height: 50px;
    visibility: visible;
    display: block;
    margin: 0;
    padding: 4px 4px 4px 4px;
    text-align: left;
  }

  /* line 923, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador4Mon {
    width: calc(100% - 0px);
    height: 21px;
    visibility: visible;
    display: block;
    margin: 0;
  }

  /* line 931, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador4Mon {
    border-color: #FFFFFF;
    border-bottom-width: 21px;
  }

  /* line 936, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #EditboxPassword {
    width: calc(100% - 0px);
    height: 50px;
    visibility: visible;
    display: block;
    margin: 0;
    padding: 4px 4px 4px 4px;
    text-align: left;
  }

  /* line 946, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador5Mon {
    width: calc(100% - 0px);
    height: 21px;
    visibility: visible;
    display: block;
    margin: 0;
  }

  /* line 954, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador5Mon {
    border-color: #FFFFFF;
    border-bottom-width: 21px;
  }

  /* line 959, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #EditboxCodMateria {
    width: calc(100% - 0px);
    height: 50px;
    visibility: visible;
    display: block;
    margin: 0;
    padding: 4px 4px 4px 4px;
    text-align: left;
  }

  /* line 969, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador6Mon {
    width: calc(100% - 0px);
    height: 21px;
    visibility: visible;
    display: block;
    margin: 0;
  }

  /* line 977, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador6Mon {
    border-color: #FFFFFF;
    border-bottom-width: 21px;
  }

  /* line 982, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #Html2 {
    width: 190px;
    height: 74px;
    visibility: visible;
    display: inline-block;
  }

  /* line 989, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #wb_ButtonEntrarMonitoria {
    width: 171px;
    height: 54px;
    visibility: visible;
    display: inline-block;
    margin: 0;
  }

  /* line 997, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #wb_LayoutFormMon {
    visibility: visible;
    display: table;
    font-size: 13px;
    font-family: Arial;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    background-color: transparent;
    background-image: none;
  }

  /* line 1009, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #wb_LayoutFormMon {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  /* line 1014, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #LayoutFormMon {
    padding: 0;
  }

  /* line 1018, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #LayoutFormMon .row {
    margin-right: -0px;
    margin-left: -0px;
  }

  /* line 1023, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #LayoutFormMon > .row > .col-1 {
    padding-right: 0px;
    padding-left: 0px;
  }

  /* line 1028, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #LayoutFormMon > .row > .col-1 {
    display: block;
    width: 100%;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    text-align: left;
  }

  /* line 1036, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador7Mon {
    width: calc(100% - 0px);
    height: 10px;
    visibility: visible;
    display: block;
    margin: 0;
  }

  /* line 1044, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador7Mon {
    border-color: #FFFFFF;
    border-bottom-width: 10px;
  }

  /* line 1049, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador8Mon {
    width: calc(100% - 0px);
    height: 15px;
    visibility: visible;
    display: block;
    margin: 0;
  }

  /* line 1057, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador8Mon {
    border-color: #FFFFFF;
    border-bottom-width: 15px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 799px) {
  /* line 1065, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  body {
    background-color: #FFFFFF;
    background-image: none;
  }

  /* line 1070, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #wb_LayoutLoginMon {
    visibility: visible;
    display: table;
  }

  /* line 1075, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #wb_LayoutLoginMon {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  /* line 1080, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #LayoutLoginMon {
    padding: 0px 5px 0px 5px;
  }

  /* line 1084, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #LayoutLoginMon .row {
    margin-right: -5px;
    margin-left: -5px;
  }

  /* line 1089, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #LayoutLoginMon > .row > .col-1, #LayoutLoginMon > .row > .col-2, #LayoutLoginMon > .row > .col-3 {
    padding-right: 5px;
    padding-left: 5px;
  }

  /* line 1094, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #LayoutLoginMon > .row > .col-1 {
    display: block;
    width: 16.66666667%;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    text-align: center;
  }

  /* line 1102, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #LayoutLoginMon > .row > .col-2 {
    display: block;
    width: 66.66666667%;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    text-align: center;
  }

  /* line 1110, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #LayoutLoginMon > .row > .col-2 > .col-2-padding {
    padding: 0px 5px 0px 0px;
  }

  /* line 1114, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #LayoutLoginMon > .row > .col-3 {
    display: block;
    width: 16.66666667%;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    text-align: center;
  }

  /* line 1122, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador1Mon {
    width: calc(100% - 0px);
    height: 53px;
    visibility: visible;
    display: block;
    margin: 0;
  }

  /* line 1130, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador1Mon {
    border-color: #FFFFFF;
    border-bottom-width: 53px;
  }

  /* line 1135, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #wb_TextTituloLoginMon {
    visibility: visible;
    display: block;
  }

  /* line 1140, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador2Mon {
    width: calc(100% - 0px);
    height: 51px;
    visibility: visible;
    display: block;
    margin: 0;
  }

  /* line 1148, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador2Mon {
    border-color: #FFFFFF;
    border-bottom-width: 51px;
  }

  /* line 1153, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #wb_iconLoginMonitoria {
    width: 190px;
    height: 158px;
    visibility: visible;
    display: inline-block;
    color: #0076C0;
    font-size: 8px;
    font-family: Arial;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    margin: 0;
    padding: 0;
  }

  /* line 1170, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #iconLoginMonitoria {
    width: 190px;
    height: 158px;
  }

  /* line 1175, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #iconLoginMonitoria g {
    line-height: 158px;
    font-size: 158px;
    width: 157px;
  }

  /* line 1181, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador3Mon {
    width: calc(100% - 0px);
    height: 21px;
    visibility: visible;
    display: block;
    margin: 0;
  }

  /* line 1189, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador3Mon {
    border-color: #FFFFFF;
    border-bottom-width: 21px;
  }

  /* line 1194, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #EditboxCodigo {
    width: calc(100% - 0px);
    height: 50px;
    visibility: visible;
    display: block;
    margin: 0;
    padding: 4px 4px 4px 4px;
    text-align: left;
  }

  /* line 1204, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador4Mon {
    width: calc(100% - 0px);
    height: 21px;
    visibility: visible;
    display: block;
    margin: 0;
  }

  /* line 1212, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador4Mon {
    border-color: #FFFFFF;
    border-bottom-width: 21px;
  }

  /* line 1217, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #EditboxPassword {
    width: calc(100% - 0px);
    height: 50px;
    visibility: visible;
    display: block;
    margin: 0;
    padding: 4px 4px 4px 4px;
    text-align: left;
  }

  /* line 1227, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador5Mon {
    width: calc(100% - 0px);
    height: 21px;
    visibility: visible;
    display: block;
    margin: 0;
  }

  /* line 1235, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador5Mon {
    border-color: #FFFFFF;
    border-bottom-width: 21px;
  }

  /* line 1240, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #EditboxCodMateria {
    width: calc(100% - 0px);
    height: 50px;
    visibility: visible;
    display: block;
    margin: 0;
    padding: 4px 4px 4px 4px;
    text-align: left;
  }

  /* line 1250, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador6Mon {
    width: calc(100% - 0px);
    height: 21px;
    visibility: visible;
    display: block;
    margin: 0;
  }

  /* line 1258, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador6Mon {
    border-color: #FFFFFF;
    border-bottom-width: 21px;
  }

  /* line 1263, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #Html2 {
    width: 190px;
    height: 74px;
    visibility: visible;
    display: inline-block;
  }

  /* line 1270, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #wb_ButtonEntrarMonitoria {
    width: 171px;
    height: 54px;
    visibility: visible;
    display: inline-block;
    margin: 0;
  }

  /* line 1278, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #wb_LayoutFormMon {
    visibility: visible;
    display: table;
    font-size: 13px;
    font-family: Arial;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    background-color: transparent;
    background-image: none;
  }

  /* line 1290, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #wb_LayoutFormMon {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  /* line 1295, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #LayoutFormMon {
    padding: 0;
  }

  /* line 1299, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #LayoutFormMon .row {
    margin-right: -0px;
    margin-left: -0px;
  }

  /* line 1304, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #LayoutFormMon > .row > .col-1 {
    padding-right: 0px;
    padding-left: 0px;
  }

  /* line 1309, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #LayoutFormMon > .row > .col-1 {
    display: block;
    width: 100%;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    text-align: left;
  }

  /* line 1317, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador7Mon {
    width: calc(100% - 0px);
    height: 10px;
    visibility: visible;
    display: block;
    margin: 0;
  }

  /* line 1325, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador7Mon {
    border-color: #FFFFFF;
    border-bottom-width: 10px;
  }

  /* line 1330, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador8Mon {
    width: calc(100% - 0px);
    height: 15px;
    visibility: visible;
    display: block;
    margin: 0;
  }

  /* line 1338, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador8Mon {
    border-color: #FFFFFF;
    border-bottom-width: 15px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 1346, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  body {
    background-color: #FFFFFF;
    background-image: none;
  }

  /* line 1351, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #wb_LayoutLoginMon {
    visibility: visible;
    display: table;
  }

  /* line 1356, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #wb_LayoutLoginMon {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  /* line 1361, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #LayoutLoginMon {
    padding: 0px 5px 0px 5px;
  }

  /* line 1365, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #LayoutLoginMon .row {
    margin-right: -5px;
    margin-left: -5px;
  }

  /* line 1370, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #LayoutLoginMon > .row > .col-1, #LayoutLoginMon > .row > .col-2, #LayoutLoginMon > .row > .col-3 {
    padding-right: 5px;
    padding-left: 5px;
  }

  /* line 1375, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #LayoutLoginMon > .row > .col-1 {
    display: block;
    width: 100%;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    text-align: center;
  }

  /* line 1383, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #LayoutLoginMon > .row > .col-2 {
    display: block;
    width: 100%;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    text-align: center;
  }

  /* line 1391, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #LayoutLoginMon > .row > .col-2 > .col-2-padding {
    padding: 0px 5px 0px 0px;
  }

  /* line 1395, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #LayoutLoginMon > .row > .col-3 {
    display: block;
    width: 100%;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    text-align: center;
  }

  /* line 1403, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador1Mon {
    width: calc(100% - 0px);
    height: 53px;
    visibility: visible;
    display: block;
    margin: 0;
  }

  /* line 1411, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador1Mon {
    border-color: #FFFFFF;
    border-bottom-width: 53px;
  }

  /* line 1416, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #wb_TextTituloLoginMon {
    visibility: visible;
    display: block;
  }

  /* line 1421, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador2Mon {
    width: calc(100% - 0px);
    height: 51px;
    visibility: visible;
    display: block;
    margin: 0;
  }

  /* line 1429, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador2Mon {
    border-color: #FFFFFF;
    border-bottom-width: 51px;
  }

  /* line 1434, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #wb_iconLoginMonitoria {
    width: 190px;
    height: 158px;
    visibility: visible;
    display: inline-block;
    color: #0076C0;
    font-size: 8px;
    font-family: Arial;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    margin: 0;
    padding: 0;
  }

  /* line 1451, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #iconLoginMonitoria {
    width: 190px;
    height: 158px;
  }

  /* line 1456, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #iconLoginMonitoria g {
    line-height: 158px;
    font-size: 158px;
    width: 157px;
  }

  /* line 1462, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador3Mon {
    width: calc(100% - 0px);
    height: 21px;
    visibility: visible;
    display: block;
    margin: 0;
  }

  /* line 1470, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador3Mon {
    border-color: #FFFFFF;
    border-bottom-width: 21px;
  }

  /* line 1475, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #EditboxCodigo {
    width: calc(100% - 0px);
    height: 50px;
    visibility: visible;
    display: block;
    margin: 0;
    padding: 4px 4px 4px 4px;
    text-align: left;
  }

  /* line 1485, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador4Mon {
    width: calc(100% - 0px);
    height: 21px;
    visibility: visible;
    display: block;
    margin: 0;
  }

  /* line 1493, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador4Mon {
    border-color: #FFFFFF;
    border-bottom-width: 21px;
  }

  /* line 1498, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #EditboxPassword {
    width: calc(100% - 0px);
    height: 50px;
    visibility: visible;
    display: block;
    margin: 0;
    padding: 4px 4px 4px 4px;
    text-align: left;
  }

  /* line 1508, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador5Mon {
    width: calc(100% - 0px);
    height: 21px;
    visibility: visible;
    display: block;
    margin: 0;
  }

  /* line 1516, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador5Mon {
    border-color: #FFFFFF;
    border-bottom-width: 21px;
  }

  /* line 1521, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #EditboxCodMateria {
    width: calc(100% - 0px);
    height: 50px;
    visibility: visible;
    display: block;
    margin: 0;
    padding: 4px 4px 4px 4px;
    text-align: left;
  }

  /* line 1531, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador6Mon {
    width: calc(100% - 0px);
    height: 21px;
    visibility: visible;
    display: block;
    margin: 0;
  }

  /* line 1539, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador6Mon {
    border-color: #FFFFFF;
    border-bottom-width: 21px;
  }

  /* line 1544, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #Html2 {
    width: 190px;
    height: 74px;
    visibility: visible;
    display: inline-block;
  }

  /* line 1551, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #wb_ButtonEntrarMonitoria {
    width: 171px;
    height: 54px;
    visibility: visible;
    display: inline-block;
    margin: 0;
  }

  /* line 1559, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #wb_LayoutFormMon {
    visibility: visible;
    display: table;
    font-size: 13px;
    font-family: Arial;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    background-color: transparent;
    background-image: none;
  }

  /* line 1571, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #wb_LayoutFormMon {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  /* line 1576, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #LayoutFormMon {
    padding: 0;
  }

  /* line 1580, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #LayoutFormMon .row {
    margin-right: -0px;
    margin-left: -0px;
  }

  /* line 1585, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #LayoutFormMon > .row > .col-1 {
    padding-right: 0px;
    padding-left: 0px;
  }

  /* line 1590, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #LayoutFormMon > .row > .col-1 {
    display: block;
    width: 100%;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    text-align: left;
  }

  /* line 1598, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador7Mon {
    width: calc(100% - 0px);
    height: 10px;
    visibility: visible;
    display: block;
    margin: 0;
  }

  /* line 1606, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador7Mon {
    border-color: #FFFFFF;
    border-bottom-width: 10px;
  }

  /* line 1611, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador8Mon {
    width: calc(100% - 0px);
    height: 15px;
    visibility: visible;
    display: block;
    margin: 0;
  }

  /* line 1619, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/login-monitoria.scss */
  #separador8Mon {
    border-color: #FFFFFF;
    border-bottom-width: 15px;
  }
}
