/* line 1, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
body {
  background-color: #FFFFFF;
  color: #000000;
  font-family: Arial;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.1875;
  margin: 0;
  padding: 0;
}

/* line 12, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#wb_LayoutGridInfoUserVerMon {
  clear: both;
  position: relative;
  table-layout: fixed;
  display: table;
  text-align: center;
  width: 100%;
  background-color: transparent;
  background-image: none;
  border: 0px solid #CCCCCC;
  box-sizing: border-box;
  margin: 0;
}

/* line 26, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#LayoutGridInfoUserVerMon {
  box-sizing: border-box;
  padding: 0px 5px 0px 5px;
  margin-right: auto;
  margin-left: auto;
}

/* line 33, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#LayoutGridInfoUserVerMon .row {
  margin-right: -5px;
  margin-left: -5px;
}

/* line 38, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#LayoutGridInfoUserVerMon > .row > .col-1 {
  box-sizing: border-box;
  font-size: 0px;
  min-height: 1px;
  padding-right: 5px;
  padding-left: 5px;
  position: relative;
}

/* line 47, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#LayoutGridInfoUserVerMon > .row > .col-1 {
  float: left;
}

/* line 51, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#LayoutGridInfoUserVerMon > .row > .col-1 {
  background-color: transparent;
  background-image: none;
  border: 0px solid #FFFFFF;
  width: 100%;
  text-align: center;
}

/* line 59, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#LayoutGridInfoUserVerMon:before,
#LayoutGridInfoUserVerMon:after,
#LayoutGridInfoUserVerMon .row:before,
#LayoutGridInfoUserVerMon .row:after {
  display: table;
  content: " ";
}

/* line 67, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#LayoutGridInfoUserVerMon:after,
#LayoutGridInfoUserVerMon .row:after {
  clear: both;
}

@media (max-width: 480px) {
  /* line 74, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutGridInfoUserVerMon > .row > .col-1 {
    float: none;
    width: 100% !important;
  }
}
/* line 80, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#wb_LayoutGridSepVerMon {
  clear: both;
  position: relative;
  table-layout: fixed;
  display: table;
  text-align: center;
  width: 100%;
  background-color: transparent;
  background-image: none;
  border: 0px solid #CCCCCC;
  box-sizing: border-box;
  margin: 0;
}

/* line 94, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#LayoutGridSepVerMon {
  box-sizing: border-box;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
}

/* line 101, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#LayoutGridSepVerMon .row {
  margin-right: 0;
  margin-left: 0;
}

/* line 106, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#LayoutGridSepVerMon > .row > .col-1 {
  box-sizing: border-box;
  font-size: 0px;
  min-height: 1px;
  padding-right: 0px;
  padding-left: 0px;
  position: relative;
}

/* line 115, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#LayoutGridSepVerMon > .row > .col-1 {
  float: left;
}

/* line 119, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#LayoutGridSepVerMon > .row > .col-1 {
  background-color: transparent;
  background-image: none;
  border: 0px solid #FFFFFF;
  width: 100%;
  text-align: center;
}

/* line 127, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#LayoutGridSepVerMon:before,
#LayoutGridSepVerMon:after,
#LayoutGridSepVerMon .row:before,
#LayoutGridSepVerMon .row:after {
  display: table;
  content: " ";
}

/* line 135, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#LayoutGridSepVerMon:after,
#LayoutGridSepVerMon .row:after {
  clear: both;
}

@media (max-width: 480px) {
  /* line 142, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutGridSepVerMon > .row > .col-1 {
    float: none;
    width: 100% !important;
  }
}
/* line 148, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#wb_LayoutContenidoVerMon {
  clear: both;
  position: relative;
  table-layout: fixed;
  display: table;
  text-align: center;
  width: 100%;
  background-color: transparent;
  background-image: none;
  border: 0px solid #CCCCCC;
  box-sizing: border-box;
  margin: 0;
}

/* line 162, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#LayoutContenidoVerMon {
  box-sizing: border-box;
  padding: 0px 10px 0px 10px;
  margin-right: auto;
  margin-left: auto;
}

/* line 169, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#LayoutContenidoVerMon .row {
  margin-right: -10px;
  margin-left: -10px;
}

/* line 174, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#LayoutContenidoVerMon > .row > .col-1 {
  box-sizing: border-box;
  font-size: 0px;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  position: relative;
}

/* line 183, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#LayoutContenidoVerMon > .row > .col-1 {
  float: left;
}

/* line 187, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#LayoutContenidoVerMon > .row > .col-1 {
  background-color: transparent;
  background-image: none;
  border: 0px solid #FFFFFF;
  width: 100%;
  text-align: center;
}

/* line 195, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#LayoutContenidoVerMon:before,
#LayoutContenidoVerMon:after,
#LayoutContenidoVerMon .row:before,
#LayoutContenidoVerMon .row:after {
  display: table;
  content: " ";
}

/* line 203, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#LayoutContenidoVerMon:after,
#LayoutContenidoVerMon .row:after {
  clear: both;
}

@media (max-width: 480px) {
  /* line 210, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutContenidoVerMon > .row > .col-1 {
    float: none;
    width: 100% !important;
  }
}
/* line 216, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#wb_LayoutGrid1 {
  clear: both;
  position: relative;
  table-layout: fixed;
  display: table;
  text-align: center;
  width: 100%;
  background-color: transparent;
  background-image: none;
  border: 0px solid #CCCCCC;
  box-sizing: border-box;
  margin: 0;
}

/* line 230, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#LayoutGrid1 {
  box-sizing: border-box;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
}

/* line 237, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#LayoutGrid1 .row {
  margin-right: 0;
  margin-left: 0;
}

/* line 242, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#LayoutGrid1 > .row > .col-1 {
  box-sizing: border-box;
  font-size: 0px;
  min-height: 1px;
  padding-right: 0px;
  padding-left: 0px;
  position: relative;
}

/* line 251, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#LayoutGrid1 > .row > .col-1 {
  float: left;
}

/* line 255, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#LayoutGrid1 > .row > .col-1 {
  background-color: transparent;
  background-image: none;
  border: 0px solid #FFFFFF;
  width: 100%;
  text-align: center;
}

/* line 263, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after {
  display: table;
  content: " ";
}

/* line 271, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#LayoutGrid1:after,
#LayoutGrid1 .row:after {
  clear: both;
}

@media (max-width: 480px) {
  /* line 278, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutGrid1 > .row > .col-1 {
    float: none;
    width: 100% !important;
  }
}
/* line 284, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#Table1 {
  border: 0px solid #C0C0C0;
  background-color: transparent;
  background-image: none;
  border-collapse: separate;
  border-spacing: 0px;
  margin: 0;
}

/* line 293, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#Table1 td {
  padding: 0;
}

/* line 297, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#Table1 td div {
  white-space: nowrap;
}

/* line 301, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#Table1 .cell0 {
  background-color: transparent;
  background-image: none;
  text-align: left;
  vertical-align: middle;
}

/* line 308, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#Line2VerMon {
  border-color: #FFFFFF;
  border-style: solid;
  border-bottom-width: 24px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0 !important;
  line-height: 0px !important;
  margin: 0;
  padding: 0;
}

/* line 321, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#LineVerMon {
  border-color: #FFFFFF;
  border-style: solid;
  border-bottom-width: 10px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0 !important;
  line-height: 0px !important;
  margin: 0;
  padding: 0;
}

/* line 334, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#TablaMateriasVerMon {
  border: 0px solid #7F7F7F;
  background-color: transparent;
  background-image: none;
  border-collapse: collapse;
  border-spacing: 0px;
  margin: 0;
}

/* line 343, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#TablaMateriasVerMon td {
  padding: 4px 4px 4px 4px;
}

/* line 347, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#TablaMateriasVerMon td div {
  white-space: nowrap;
}

/* line 351, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#TablaMateriasVerMon .cell0 {
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #7F7F7F;
  border-right-color: #7F7F7F;
  border-bottom-color: #7F7F7F;
  border-left-color: #7F7F7F;
  text-align: left;
  vertical-align: top;
  font-family: "Segoe UI";
  font-size: 16px;
  line-height: 21px;
}

/* line 373, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#TablaMateriasVerMon .cell1 {
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #7F7F7F;
  border-right-color: #7F7F7F;
  border-bottom-color: #7F7F7F;
  border-left-color: #7F7F7F;
  text-align: left;
  vertical-align: top;
  font-family: Arial;
  font-size: 13px;
  line-height: 16px;
}

/* line 395, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#TablaMateriasVerMon .cell2 {
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #7F7F7F;
  border-right-color: #7F7F7F;
  border-bottom-color: #7F7F7F;
  border-left-color: #7F7F7F;
  text-align: left;
  vertical-align: top;
  font-family: "Segoe UI";
  font-size: 13px;
  line-height: 17px;
}

/* line 417, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#Line8 {
  border-color: #FFFFFF;
  border-style: solid;
  border-bottom-width: 24px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0 !important;
  line-height: 0px !important;
  margin: 0;
  padding: 0;
}

/* line 430, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#wb_Text1 div {
  text-align: left;
}

/* line 434, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#Line1 {
  border-color: #FFFFFF;
  border-style: solid;
  border-bottom-width: 10px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 0 !important;
  line-height: 0px !important;
  margin: 0;
  padding: 0;
}

/* line 447, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#LineVerMon {
  display: block;
  width: 100%;
  z-index: 4;
}

/* line 453, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#Line8 {
  display: block;
  width: 100%;
  z-index: 8;
}

/* line 459, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#Table1 {
  display: table;
  width: 100%;
  height: 186px;
  z-index: 0;
}

/* line 466, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#Line2VerMon {
  display: block;
  width: 100%;
  z-index: 3;
}

/* line 472, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#wb_EmbeddedPage1 {
  display: inline-block;
  width: 100%;
  z-index: 2;
}

/* line 478, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#Line1 {
  display: block;
  width: 100%;
  z-index: 6;
}

/* line 484, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
#TablaMateriasVerMon {
  display: table;
  width: 100%;
  height: 196px;
  z-index: 7;
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  /* line 493, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  body {
    background-color: #FFFFFF;
    background-image: none;
  }

  /* line 498, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #wb_LayoutGridInfoUserVerMon {
    visibility: visible;
    display: table;
    font-size: 8px;
    font-family: Arial;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    background-color: transparent;
    background-image: none;
  }

  /* line 510, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #wb_LayoutGridInfoUserVerMon {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  /* line 515, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutGridInfoUserVerMon {
    padding: 0px 5px 0px 5px;
  }

  /* line 519, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutGridInfoUserVerMon .row {
    margin-right: -5px;
    margin-left: -5px;
  }

  /* line 524, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutGridInfoUserVerMon > .row > .col-1 {
    padding-right: 5px;
    padding-left: 5px;
  }

  /* line 529, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutGridInfoUserVerMon > .row > .col-1 {
    display: block;
    width: 100%;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    text-align: center;
  }

  /* line 537, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #wb_LayoutGridSepVerMon {
    visibility: visible;
    display: table;
    font-size: 13px;
    font-family: Arial;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    background-color: transparent;
    background-image: none;
  }

  /* line 549, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #wb_LayoutGridSepVerMon {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  /* line 554, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutGridSepVerMon {
    padding: 0;
  }

  /* line 558, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutGridSepVerMon .row {
    margin-right: -0px;
    margin-left: -0px;
  }

  /* line 563, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutGridSepVerMon > .row > .col-1 {
    padding-right: 0px;
    padding-left: 0px;
  }

  /* line 568, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutGridSepVerMon > .row > .col-1 {
    display: block;
    width: 100%;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    text-align: left;
  }

  /* line 576, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #wb_LayoutContenidoVerMon {
    visibility: visible;
    display: table;
    font-size: 8px;
    font-family: Arial;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    background-color: transparent;
    background-image: none;
  }

  /* line 588, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #wb_LayoutContenidoVerMon {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  /* line 593, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutContenidoVerMon {
    padding: 0px 10px 0px 10px;
  }

  /* line 597, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutContenidoVerMon .row {
    margin-right: -10px;
    margin-left: -10px;
  }

  /* line 602, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutContenidoVerMon > .row > .col-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  /* line 607, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutContenidoVerMon > .row > .col-1 {
    display: block;
    width: 100%;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    text-align: left;
  }

  /* line 615, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #wb_EmbeddedPage1 {
    width: 1014px;
    height: 186px;
    visibility: visible;
    display: inline-block;
  }

  /* line 622, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #Line2VerMon {
    width: calc(100% - 0px);
    height: 24px;
    visibility: visible;
    display: block;
    margin: 0;
  }

  /* line 630, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #Line2VerMon {
    border-color: #FFFFFF;
    border-bottom-width: 24px;
  }

  /* line 635, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LineVerMon {
    width: calc(100% - 0px);
    height: 10px;
    visibility: visible;
    display: block;
    margin: 0;
  }

  /* line 643, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LineVerMon {
    border-color: #FFFFFF;
    border-bottom-width: 10px;
  }

  /* line 648, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #TablaMateriasVerMon {
    visibility: visible;
    display: table;
    font-size: 8px;
    font-family: Arial;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    background-color: transparent;
    background-image: none;
  }

  /* line 660, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #TablaMateriasVerMon .cell0 {
    font-family: "Segoe UI";
    font-weight: normal;
    font-size: 16px;
    text-align: left;
    line-height: 21px;
  }

  /* line 668, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #TablaMateriasVerMon .cell1 {
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    text-align: left;
    line-height: 16px;
  }

  /* line 676, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #TablaMateriasVerMon .cell2 {
    font-family: "Segoe UI";
    font-weight: normal;
    font-size: 13px;
    text-align: left;
    line-height: 17px;
  }

  /* line 684, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #Line1 {
    width: calc(100% - 0px);
    height: 10px;
    visibility: visible;
    display: block;
    margin: 0;
  }

  /* line 692, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #Line1 {
    border-color: #FFFFFF;
    border-bottom-width: 10px;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1023px) {
  /* line 700, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  body {
    background-color: #FFFFFF;
    background-image: none;
  }

  /* line 705, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #wb_LayoutGridInfoUserVerMon {
    visibility: visible;
    display: table;
    font-size: 8px;
    font-family: Arial;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    background-color: transparent;
    background-image: none;
  }

  /* line 717, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #wb_LayoutGridInfoUserVerMon {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  /* line 722, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutGridInfoUserVerMon {
    padding: 0px 5px 0px 5px;
  }

  /* line 726, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutGridInfoUserVerMon .row {
    margin-right: -5px;
    margin-left: -5px;
  }

  /* line 731, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutGridInfoUserVerMon > .row > .col-1 {
    padding-right: 5px;
    padding-left: 5px;
  }

  /* line 736, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutGridInfoUserVerMon > .row > .col-1 {
    display: block;
    width: 100%;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    text-align: center;
  }

  /* line 744, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #wb_LayoutGridSepVerMon {
    visibility: visible;
    display: table;
    font-size: 13px;
    font-family: Arial;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    background-color: transparent;
    background-image: none;
  }

  /* line 756, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #wb_LayoutGridSepVerMon {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  /* line 761, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutGridSepVerMon {
    padding: 0;
  }

  /* line 765, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutGridSepVerMon .row {
    margin-right: -0px;
    margin-left: -0px;
  }

  /* line 770, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutGridSepVerMon > .row > .col-1 {
    padding-right: 0px;
    padding-left: 0px;
  }

  /* line 775, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutGridSepVerMon > .row > .col-1 {
    display: block;
    width: 100%;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    text-align: left;
  }

  /* line 783, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #wb_LayoutContenidoVerMon {
    visibility: visible;
    display: table;
    font-size: 8px;
    font-family: Arial;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    background-color: transparent;
    background-image: none;
  }

  /* line 795, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #wb_LayoutContenidoVerMon {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  /* line 800, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutContenidoVerMon {
    padding: 0px 10px 0px 10px;
  }

  /* line 804, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutContenidoVerMon .row {
    margin-right: -10px;
    margin-left: -10px;
  }

  /* line 809, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutContenidoVerMon > .row > .col-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  /* line 814, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutContenidoVerMon > .row > .col-1 {
    display: block;
    width: 100%;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    text-align: left;
  }

  /* line 822, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #wb_EmbeddedPage1 {
    width: 790px;
    height: 186px;
    visibility: visible;
    display: inline-block;
  }

  /* line 829, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #Line2VerMon {
    width: calc(100% - 0px);
    height: 24px;
    visibility: visible;
    display: block;
    margin: 0;
  }

  /* line 837, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #Line2VerMon {
    border-color: #FFFFFF;
    border-bottom-width: 24px;
  }

  /* line 842, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LineVerMon {
    width: calc(100% - 0px);
    height: 10px;
    visibility: visible;
    display: block;
    margin: 0;
  }

  /* line 850, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LineVerMon {
    border-color: #FFFFFF;
    border-bottom-width: 10px;
  }

  /* line 855, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #TablaMateriasVerMon {
    visibility: visible;
    display: table;
    font-size: 8px;
    font-family: Arial;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    background-color: transparent;
    background-image: none;
  }

  /* line 867, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #TablaMateriasVerMon .cell0 {
    font-family: "Segoe UI";
    font-weight: normal;
    font-size: 16px;
    text-align: left;
    line-height: 21px;
  }

  /* line 875, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #TablaMateriasVerMon .cell1 {
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    text-align: left;
    line-height: 16px;
  }

  /* line 883, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #TablaMateriasVerMon .cell2 {
    font-family: "Segoe UI";
    font-weight: normal;
    font-size: 13px;
    text-align: left;
    line-height: 17px;
  }

  /* line 891, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #Line1 {
    width: calc(100% - 0px);
    height: 10px;
    visibility: visible;
    display: block;
    margin: 0;
  }

  /* line 899, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #Line1 {
    border-color: #FFFFFF;
    border-bottom-width: 10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 799px) {
  /* line 907, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  body {
    background-color: #FFFFFF;
    background-image: none;
  }

  /* line 912, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #wb_LayoutGridInfoUserVerMon {
    visibility: visible;
    display: table;
    font-size: 8px;
    font-family: Arial;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    background-color: transparent;
    background-image: none;
  }

  /* line 924, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #wb_LayoutGridInfoUserVerMon {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  /* line 929, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutGridInfoUserVerMon {
    padding: 0px 5px 0px 5px;
  }

  /* line 933, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutGridInfoUserVerMon .row {
    margin-right: -5px;
    margin-left: -5px;
  }

  /* line 938, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutGridInfoUserVerMon > .row > .col-1 {
    padding-right: 5px;
    padding-left: 5px;
  }

  /* line 943, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutGridInfoUserVerMon > .row > .col-1 {
    display: block;
    width: 100%;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    text-align: center;
  }

  /* line 951, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #wb_LayoutGridSepVerMon {
    visibility: visible;
    display: table;
    font-size: 13px;
    font-family: Arial;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    background-color: transparent;
    background-image: none;
  }

  /* line 963, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #wb_LayoutGridSepVerMon {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  /* line 968, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutGridSepVerMon {
    padding: 0;
  }

  /* line 972, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutGridSepVerMon .row {
    margin-right: -0px;
    margin-left: -0px;
  }

  /* line 977, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutGridSepVerMon > .row > .col-1 {
    padding-right: 0px;
    padding-left: 0px;
  }

  /* line 982, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutGridSepVerMon > .row > .col-1 {
    display: block;
    width: 100%;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    text-align: left;
  }

  /* line 990, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #wb_LayoutContenidoVerMon {
    visibility: visible;
    display: table;
    font-size: 8px;
    font-family: Arial;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    background-color: transparent;
    background-image: none;
  }

  /* line 1002, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #wb_LayoutContenidoVerMon {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  /* line 1007, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutContenidoVerMon {
    padding: 0px 10px 0px 10px;
  }

  /* line 1011, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutContenidoVerMon .row {
    margin-right: -10px;
    margin-left: -10px;
  }

  /* line 1016, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutContenidoVerMon > .row > .col-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  /* line 1021, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutContenidoVerMon > .row > .col-1 {
    display: block;
    width: 100%;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    text-align: left;
  }

  /* line 1029, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #wb_EmbeddedPage1 {
    width: 758px;
    height: 186px;
    visibility: visible;
    display: inline-block;
  }

  /* line 1036, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #Line2VerMon {
    width: calc(100% - 0px);
    height: 24px;
    visibility: visible;
    display: block;
    margin: 0;
  }

  /* line 1044, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #Line2VerMon {
    border-color: #FFFFFF;
    border-bottom-width: 24px;
  }

  /* line 1049, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LineVerMon {
    width: calc(100% - 0px);
    height: 10px;
    visibility: visible;
    display: block;
    margin: 0;
  }

  /* line 1057, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LineVerMon {
    border-color: #FFFFFF;
    border-bottom-width: 10px;
  }

  /* line 1062, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #TablaMateriasVerMon {
    visibility: visible;
    display: table;
    font-size: 8px;
    font-family: Arial;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    background-color: transparent;
    background-image: none;
  }

  /* line 1074, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #TablaMateriasVerMon .cell0 {
    font-family: "Segoe UI";
    font-weight: normal;
    font-size: 16px;
    text-align: left;
    line-height: 21px;
  }

  /* line 1082, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #TablaMateriasVerMon .cell1 {
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    text-align: left;
    line-height: 16px;
  }

  /* line 1090, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #TablaMateriasVerMon .cell2 {
    font-family: "Segoe UI";
    font-weight: normal;
    font-size: 13px;
    text-align: left;
    line-height: 17px;
  }

  /* line 1098, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #Line1 {
    width: calc(100% - 0px);
    height: 10px;
    visibility: visible;
    display: block;
    margin: 0;
  }

  /* line 1106, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #Line1 {
    border-color: #FFFFFF;
    border-bottom-width: 10px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 1114, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  body {
    background-color: #FFFFFF;
    background-image: none;
  }

  /* line 1119, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #wb_LayoutGridInfoUserVerMon {
    visibility: visible;
    display: table;
    font-size: 8px;
    font-family: Arial;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    background-color: transparent;
    background-image: none;
  }

  /* line 1131, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #wb_LayoutGridInfoUserVerMon {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  /* line 1136, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutGridInfoUserVerMon {
    padding: 0px 5px 0px 5px;
  }

  /* line 1140, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutGridInfoUserVerMon .row {
    margin-right: -5px;
    margin-left: -5px;
  }

  /* line 1145, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutGridInfoUserVerMon > .row > .col-1 {
    padding-right: 5px;
    padding-left: 5px;
  }

  /* line 1150, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutGridInfoUserVerMon > .row > .col-1 {
    display: block;
    width: 100%;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    text-align: center;
  }

  /* line 1158, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #wb_LayoutGridSepVerMon {
    visibility: visible;
    display: table;
    font-size: 13px;
    font-family: Arial;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    background-color: transparent;
    background-image: none;
  }

  /* line 1170, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #wb_LayoutGridSepVerMon {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  /* line 1175, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutGridSepVerMon {
    padding: 0;
  }

  /* line 1179, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutGridSepVerMon .row {
    margin-right: -0px;
    margin-left: -0px;
  }

  /* line 1184, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutGridSepVerMon > .row > .col-1 {
    padding-right: 0px;
    padding-left: 0px;
  }

  /* line 1189, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutGridSepVerMon > .row > .col-1 {
    display: block;
    width: 100%;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    text-align: left;
  }

  /* line 1197, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #wb_LayoutContenidoVerMon {
    visibility: visible;
    display: table;
    font-size: 8px;
    font-family: Arial;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    background-color: transparent;
    background-image: none;
  }

  /* line 1209, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #wb_LayoutContenidoVerMon {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  /* line 1214, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutContenidoVerMon {
    padding: 0px 10px 0px 10px;
  }

  /* line 1218, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutContenidoVerMon .row {
    margin-right: -10px;
    margin-left: -10px;
  }

  /* line 1223, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutContenidoVerMon > .row > .col-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  /* line 1228, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LayoutContenidoVerMon > .row > .col-1 {
    display: block;
    width: 100%;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    text-align: left;
  }

  /* line 1236, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #wb_EmbeddedPage1 {
    width: 310px;
    height: 186px;
    visibility: visible;
    display: inline-block;
  }

  /* line 1243, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #Line2VerMon {
    width: calc(100% - 0px);
    height: 24px;
    visibility: visible;
    display: block;
    margin: 0;
  }

  /* line 1251, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #Line2VerMon {
    border-color: #FFFFFF;
    border-bottom-width: 24px;
  }

  /* line 1256, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LineVerMon {
    width: calc(100% - 0px);
    height: 10px;
    visibility: visible;
    display: block;
    margin: 0;
  }

  /* line 1264, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #LineVerMon {
    border-color: #FFFFFF;
    border-bottom-width: 10px;
  }

  /* line 1269, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #TablaMateriasVerMon {
    visibility: visible;
    display: table;
    font-size: 8px;
    font-family: Arial;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    background-color: transparent;
    background-image: none;
  }

  /* line 1281, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #TablaMateriasVerMon .cell0 {
    font-family: "Segoe UI";
    font-weight: normal;
    font-size: 16px;
    text-align: left;
    line-height: 21px;
  }

  /* line 1289, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #TablaMateriasVerMon .cell1 {
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    text-align: left;
    line-height: 16px;
  }

  /* line 1297, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #TablaMateriasVerMon .cell2 {
    font-family: "Segoe UI";
    font-weight: normal;
    font-size: 13px;
    text-align: left;
    line-height: 17px;
  }

  /* line 1305, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #Line1 {
    width: calc(100% - 0px);
    height: 10px;
    visibility: visible;
    display: block;
    margin: 0;
  }

  /* line 1313, C:/Users/Carlos/Desktop/pagina web proyecto/web_ruby/app/assets/stylesheets/estudiante/ver-monitoria.scss */
  #Line1 {
    border-color: #FFFFFF;
    border-bottom-width: 10px;
  }
}
