body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_HeaderEstudiante
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #EEAD17;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#HeaderEstudiante
{
   box-sizing: border-box;
   padding: 10px 15px 10px 15px;
   margin-right: auto;
   margin-left: auto;
}
#HeaderEstudiante .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#HeaderEstudiante > .row > .col-1, #HeaderEstudiante > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#HeaderEstudiante > .row > .col-1, #HeaderEstudiante > .row > .col-2
{
   float: left;
}
#HeaderEstudiante > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 41.66666667%;
   text-align: center;
}
#HeaderEstudiante > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 58.33333333%;
   text-align: center;
}
#HeaderEstudiante:before,
#HeaderEstudiante:after,
#HeaderEstudiante .row:before,
#HeaderEstudiante .row:after
{
   display: table;
   content: " ";
}
#HeaderEstudiante:after,
#HeaderEstudiante .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#HeaderEstudiante > .row > .col-1, #HeaderEstudiante > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
#wb_TextBienvenidaEst
{
   font-family: "Segoe UI";
   font-weight: normal;
   font-size: 27px;
}
#wb_TextBienvenidaEst div
{
   text-align: center;
}
#wb_iconNotificacionesEst
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   line-height: 33px;
   vertical-align: top;
}
#wb_iconNotificacionesEst:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#iconNotificacionesEst
{
   vertical-align: middle;
}
#iconNotificacionesEst g
{
   fill: #EEAD17;
   display: inline-block;
   font-size: 33px;
   vertical-align: middle;
   width: 32px;
}
#wb_iconNotificacionesEst:hover g
{
   fill: #A47710;
}
#wb_LogoEst
{
   margin: 0;
   vertical-align: top;
}
#LogoEst
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display: inline-block;
   width: 387px;
   height: 90px;
   vertical-align: top;
}
#wb_MenuPrincipal
{
   background-color: rgba(238,173,23,1.00);
   display: block;
   font-family: "Segoe UI";
   font-weight: normal;
   text-align: center;
   width: 100%;
}
#MenuPrincipal
{
   background-color: #EEAD17;
   display: inline-block;
   height: 89px;
}
#wb_MenuPrincipal ul
{
   list-style: none;
   margin: 0;
   padding: 0;
   position: relative;
}
#wb_MenuPrincipal ul:after
{
   clear: both;
   content: "";
   display: block;
}
#wb_MenuPrincipal ul li
{
   background-color: #EEAD17;
   display: list-item;
   float: left;
   list-style: none;
   z-index: 9999;
}
#wb_MenuPrincipal ul li i
{
   font-size: 30px;
   width: 30px;
}
#wb_MenuPrincipal ul li a 
{
   color: #0076C0;
   font-family: "Segoe UI";
   font-weight: normal;
   font-size: 21px;
   font-style: normal;
   padding: 15px 30px 15px 30px;
   text-align: center;
   text-decoration: none;
}
#wb_MenuPrincipal > ul > li > a 
{
   height: 59px;
}
.MenuPrincipal a 
{
   display: block;
}
#wb_MenuPrincipal li a:hover, #wb_MenuPrincipal li .active
{ 
   background-color: #D19710;
   color: #0069A8;
}
#wb_MenuPrincipal ul ul
{
   display: none;
   position: absolute;
   top: 89px;
}
#wb_MenuPrincipal ul li:hover > ul
{
   display: list-item;
}
#wb_MenuPrincipal ul ul li 
{
   background-color: #EEAD17;
   color: #0076C0;
   float: none;
   position: relative;
   width: 284px;
}
#wb_MenuPrincipal ul ul li a:hover, #wb_MenuPrincipal ul ul li .active
{
   background-color: #D19710;
   color: #0069A8;
}
#wb_MenuPrincipal ul ul li i 
{
   margin-right: 10px;
   vertical-align: middle;
}
#wb_MenuPrincipal ul ul li a 
{
   color: #0076C0;
   padding: 15px 20px 15px 20px;
   text-align: left;
   vertical-align: middle;
}
#wb_MenuPrincipal ul ul ul li 
{
   left: 284px;
   position: relative;
   top: -89px;
}
#wb_MenuPrincipal .arrow-down 
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 2px;
   vertical-align: middle;
   border-top: 4px solid #0076C0;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
#wb_MenuPrincipal .arrow-left 
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   border-left: 4px solid #0076C0;
   border-top: 4px solid transparent;
   border-bottom: 4px solid transparent;
   border-right: 0 dotted;
}
#wb_MenuPrincipal li a:hover .arrow-down
{ 
   border-top-color: #0069A8;
}
#wb_MenuPrincipal ul ul li a:hover .arrow-left, #wb_MenuPrincipal ul ul li .active .arrow-left
{ 
   border-left-color: #0069A8;
}
#wb_MenuPrincipal .toggle,[id^=MenuPrincipal-submenu]
{
   display: none;
}
@media all and (max-width:800px) 
{
#wb_MenuPrincipal 
{
   margin: 0;
   text-align: left;
}
#wb_MenuPrincipal ul li a, #wb_MenuPrincipal .toggle
{
   font-size: 21px;
   font-weight: normal;
   font-style: normal;
   padding: 15px 20px 15px 20px;
}
#wb_MenuPrincipal .toggle + a
{
   display: none !important;
}
.MenuPrincipal 
{
   display: none;
   z-index: 9999;
}
#MenuPrincipal 
{
   background-color: transparent;
   display: none;
}
#wb_MenuPrincipal > ul > li > a 
{
   height: auto;
}
#wb_MenuPrincipal .toggle 
{
   display: block;
   background-color: #EEAD17;
   color: #0076C0;
   padding: 0px 20px 0px 20px;
   line-height: 60px;
   text-decoration: none;
   border: none;
   position: relative;
}
#wb_MenuPrincipal .toggle:hover 
{
   background-color: #D19710;
   color: #0069A8;
}
[id^=MenuPrincipal-submenu]:checked + ul 
{
   display: block !important;
}
#MenuPrincipal-title
{
   height: 89px;
   line-height: 89px !important;
   text-align: center;
}
#wb_MenuPrincipal ul li 
{
   display: block;
   width: 100%;
   text-align: left;
}
#wb_MenuPrincipal ul ul .toggle,
#wb_MenuPrincipal ul ul a 
{
   padding: 0 40px;
}
#wb_MenuPrincipal a:hover,
#wb_MenuPrincipal ul ul ul a 
{
   background-color: #EEAD17;
   color: #0076C0;
}
#wb_MenuPrincipal ul li ul li .toggle,
#wb_MenuPrincipal ul ul a 
{
   background-color: #EEAD17;
   color: #0076C0;
}
#wb_MenuPrincipal ul ul ul a 
{
   padding: 15px 20px 15px 60px;
}
#wb_MenuPrincipal ul li a 
{
   text-align: left;
}
#wb_MenuPrincipal ul li a br 
{
   display: none;
}
#wb_MenuPrincipal ul li i 
{
   margin-right: 10px;
}
#wb_MenuPrincipal ul ul 
{
   float: none;
   position: static;
}
#wb_MenuPrincipal ul ul li:hover > ul,
#wb_MenuPrincipal ul li:hover > ul 
{
   display: none;
}
#wb_MenuPrincipal ul ul li 
{
   display: block;
   width: 100%;
}
#wb_MenuPrincipal ul ul ul li 
{
   position: static;
}
#MenuPrincipal-icon 
{
   display: block;
   position: absolute;
   left: 30px;
   top: 32px;
}
#MenuPrincipal-icon span 
{
   display: block;
   margin-top: 4px;
   height: 2px;
   background-color: #0076C0;
   color: #0076C0;
   width: 24px;
}
#wb_MenuPrincipal ul li ul li .toggle:hover
{
   background-color: #D19710;
   color: #0069A8;
}
#wb_MenuPrincipal .toggle .arrow-down 
{
   border-top-color: #0076C0;
}
#wb_MenuPrincipal .toggle:hover .arrow-down, #wb_MenuPrincipal li .active .arrow-down
{ 
   border-top-color: #0069A8;
}
#wb_MenuPrincipal ul li ul li .toggle .arrow-down 
{
   border-top-color: #0076C0;
}
#wb_MenuPrincipal ul li ul li .toggle:hover .arrow-down, #wb_MenuPrincipal ul li ul li .active .arrow-down
{ 
   border-top-color: #0069A8;
}
}
#LayerUsuario
{
   background-color: #0076C0;
   background-image: none;
   margin: 0;
}
#wb_TextCopyright 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 15px 0px 15px 0px;
   margin: 0;
   text-align: center;
}
#wb_TextCopyright div
{
   text-align: center;
}
#wb_LayoutGrid5
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #3A536B;
   background-image: none;
   border: 0px solid #2C3E50;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid5
{
   box-sizing: border-box;
   padding: 0px 15px 10px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid5 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid5 > .row > .col-1, #LayoutGrid5 > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid5 > .row > .col-1, #LayoutGrid5 > .row > .col-2
{
   float: left;
}
#LayoutGrid5 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid5 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 66.66666667%;
   text-align: center;
}
#LayoutGrid5:before,
#LayoutGrid5:after,
#LayoutGrid5 .row:before,
#LayoutGrid5 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid5:after,
#LayoutGrid5 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid5 > .row > .col-1, #LayoutGrid5 > .row > .col-2
{
   float: none;
   width: 100%;
}
}
#wb_LayoutGridFooter
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #2C3E50;
   background-image: none;
   border: 0px solid #2C3E50;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGridFooter
{
   box-sizing: border-box;
   padding: 0px 15px 10px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGridFooter .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGridFooter > .row > .col-1, #LayoutGridFooter > .row > .col-2, #LayoutGridFooter > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGridFooter > .row > .col-1, #LayoutGridFooter > .row > .col-2, #LayoutGridFooter > .row > .col-3
{
   float: left;
}
#LayoutGridFooter > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGridFooter > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGridFooter > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGridFooter:before,
#LayoutGridFooter:after,
#LayoutGridFooter .row:before,
#LayoutGridFooter .row:after
{
   display: table;
   content: " ";
}
#LayoutGridFooter:after,
#LayoutGridFooter .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGridFooter > .row > .col-1, #LayoutGridFooter > .row > .col-2, #LayoutGridFooter > .row > .col-3
{
   float: none;
   width: 100%;
}
}
#wb_TextoRedesFooter div
{
   text-align: center;
}
#wb_TextAcercaDeFooter div
{
   text-align: center;
}
#wb_iconoFacebook
{
   background-color: #2C3E50;
   background-image: none;
   border: 2px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_iconoFacebook:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 2px solid #FFFFFF;
}
#iconoFacebook
{
   height: 16px;
   width: 16px;
}
#iconoFacebook i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 16px;
   line-height: 16px;
   vertical-align: middle;
   width: 8px;
}
#wb_iconoFacebook:hover i
{
   color: #EEAD17;
}
#wb_iconoFacebook
{
   -webkit-transform: rotate(0deg) ;
   -moz-transform: rotate(0deg) ;
   transform: rotate(0deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_iconoFacebook:hover
{
   -webkit-transform: rotate(360deg) ;
   -moz-transform: rotate(360deg) ;
   transform: rotate(360deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_IconoTwitter
{
   background-color: #2C3E50;
   background-image: none;
   border: 2px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_IconoTwitter:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 2px solid #FFFFFF;
}
#IconoTwitter
{
   height: 16px;
   width: 16px;
}
#IconoTwitter i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 16px;
   line-height: 16px;
   vertical-align: middle;
   width: 13px;
}
#wb_IconoTwitter:hover i
{
   color: #EEAD17;
}
#wb_IconoTwitter
{
   -webkit-transform: rotate(0deg) ;
   -moz-transform: rotate(0deg) ;
   transform: rotate(0deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_IconoTwitter:hover
{
   -webkit-transform: rotate(360deg) ;
   -moz-transform: rotate(360deg) ;
   transform: rotate(360deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_iconoInstagram
{
   background-color: #2C3E50;
   background-image: none;
   border: 2px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_iconoInstagram:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 2px solid #FFFFFF;
}
#iconoInstagram
{
   height: 16px;
   width: 16px;
}
#iconoInstagram i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 16px;
   line-height: 16px;
   vertical-align: middle;
   width: 12px;
}
#wb_iconoInstagram:hover i
{
   color: #EEAD17;
}
#wb_iconoInstagram
{
   -webkit-transform: rotate(0deg) ;
   -moz-transform: rotate(0deg) ;
   transform: rotate(0deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_iconoInstagram:hover
{
   -webkit-transform: rotate(360deg) ;
   -moz-transform: rotate(360deg) ;
   transform: rotate(360deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_iconoYoutube
{
   background-color: #2C3E50;
   background-image: none;
   border: 2px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 0;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_iconoYoutube:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 2px solid #FFFFFF;
}
#iconoYoutube
{
   height: 16px;
   width: 16px;
}
#iconoYoutube i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 16px;
   line-height: 16px;
   vertical-align: middle;
   width: 12px;
}
#wb_iconoYoutube:hover i
{
   color: #EEAD17;
}
#wb_iconoYoutube
{
   -webkit-transform: rotate(0deg) ;
   -moz-transform: rotate(0deg) ;
   transform: rotate(0deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_iconoYoutube:hover
{
   -webkit-transform: rotate(360deg) ;
   -moz-transform: rotate(360deg) ;
   transform: rotate(360deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_TextoAcercaDe div
{
   text-align: center;
}
#wb_Text12 div
{
   text-align: center;
}
#wb_TextMenu1
{
   background-color: transparent;
   background-image: none;
   color :#FFFFFF;
   font-family: "Segoe UI";
   font-weight: bold;
   font-size: 15px;
   margin: 0;
   text-align: center;
}
#wb_TextMenu1 span
{
   display: block;
   margin: 0 0 4px 0;
   line-height: 20px;
}
#wb_LayoutGridCopyright
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #233140;
   background-image: none;
   border: 0px solid #233140;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGridCopyright
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGridCopyright .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGridCopyright > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGridCopyright > .row > .col-1
{
   float: left;
}
#LayoutGridCopyright > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: left;
}
#LayoutGridCopyright:before,
#LayoutGridCopyright:after,
#LayoutGridCopyright .row:before,
#LayoutGridCopyright .row:after
{
   display: table;
   content: " ";
}
#LayoutGridCopyright:after,
#LayoutGridCopyright .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGridCopyright > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#Line15
{
   border-color: #3A536B;
   border-style: solid;
   border-bottom-width: 62px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#wb_LayoutGrid6
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid6
{
   box-sizing: border-box;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid6 .row
{
   margin-right: 0;
   margin-left: 0;
}
#LayoutGrid6 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid6 > .row > .col-1
{
   float: left;
}
#LayoutGrid6 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid6:before,
#LayoutGrid6:after,
#LayoutGrid6 .row:before,
#LayoutGrid6 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid6:after,
#LayoutGrid6 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid6 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#Line21
{
   border-color: #3A536B;
   border-style: solid;
   border-bottom-width: 91px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#wb_TextoFooterInfo div
{
   text-align: center;
}
#wb_textoInfoFooter div
{
   text-align: center;
}
#wb_iconCerrarSesionEst
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   line-height: 33px;
   vertical-align: top;
}
#wb_iconCerrarSesionEst:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#iconCerrarSesionEst
{
   vertical-align: middle;
}
#iconCerrarSesionEst g
{
   fill: #EEAD17;
   display: inline-block;
   font-size: 33px;
   vertical-align: middle;
   width: 27px;
}
#wb_iconCerrarSesionEst:hover g
{
   fill: #A47710;
}
#wb_iconoInstagram
{
   display: inline-block;
   width: 16px;
   height: 16px;
   text-align: center;
   z-index: 16;
}
#Line21
{
   display: block;
   width: 100%;
   z-index: 5;
}
#wb_LogoEst
{
   display: inline-block;
   width: 387px;
   height: 90px;
   z-index: 0;
}
#wb_iconCerrarSesionEst
{
   position: absolute;
   left: 1142px;
   top: 15px;
   width: 40px;
   height: 33px;
   text-align: center;
   z-index: 4;
}
#wb_MenuPrincipal
{
   display: inline-block;
   width: 100%;
   z-index: 1;
}
#Html1
{
   display: inline-block;
   width: 770px;
   height: 276px;
   z-index: 8;
}
#wb_iconoYoutube
{
   display: inline-block;
   width: 16px;
   height: 16px;
   text-align: center;
   z-index: 17;
}
#Line15
{
   display: block;
   width: 100%;
   z-index: 9;
}
#wb_IconoTwitter
{
   display: inline-block;
   width: 16px;
   height: 16px;
   text-align: center;
   z-index: 15;
}
#wb_iconNotificacionesEst
{
   position: absolute;
   left: 1077px;
   top: 15px;
   width: 40px;
   height: 33px;
   text-align: center;
   z-index: 3;
}
#wb_iconoFacebook
{
   display: inline-block;
   width: 16px;
   height: 16px;
   text-align: center;
   z-index: 14;
}
#iconCerrarSesionEst
{
   position: absolute;
   height: 100%;
   width: 100%;
   left: 0;
   top: 0;
}
#LayerUsuario
{
   position: relative;
   text-align: center;
   width: 100%;
   height: 62px;
   float: left;
   clear: left;
   display: block;
   z-index: 23;
}
#LayerUsuario_Container
{
   width: 1201px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#wb_TextBienvenidaEst
{
   position: absolute;
   left: 154px;
   top: 13px;
   width: 893px;
   height: 37px;
   text-align: center;
   z-index: 2;
}
#wb_TextMenu1
{
   display: inline-block;
   width: 370px;
   height: 105px;
   z-index: 12;
}
#iconNotificacionesEst
{
   position: absolute;
   height: 100%;
   width: 100%;
   left: 0;
   top: 0;
}
@media only screen and (min-width: 1024px) and (max-width: 1200px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_HeaderEstudiante
{
   visibility: visible;
   display: table;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #EEAD17;
   background-image: none;
}
#wb_HeaderEstudiante
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#HeaderEstudiante
{
   padding: 10px 15px 10px 15px;
}
#HeaderEstudiante .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#HeaderEstudiante > .row > .col-1, #HeaderEstudiante > .row > .col-2
{
   padding-right: 15px;
   padding-left: 15px;
}
#HeaderEstudiante > .row > .col-1
{
   display: block;
   width: 41.66666667%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#HeaderEstudiante > .row > .col-2
{
   display: block;
   width: 58.33333333%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_TextBienvenidaEst
{
   left: 527px;
   top: 40px;
   width: 396px;
   height: 37px;
   visibility: visible;
   display: inline;
}
#wb_TextBienvenidaEst
{
   font-family: "Segoe UI";
   font-weight: normal;
   font-size: 27px;
}
#wb_iconNotificacionesEst
{
   left: 960px;
   top: 40px;
   width: 40px;
   height: 33px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#iconNotificacionesEst
{
   width: 40px;
   height: 33px;
}
#iconNotificacionesEst g
{
   line-height: 33px;
   font-size: 33px;
   width: 32px;
}
#wb_LogoEst
{
   width: 290px;
   height: 68px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 0;
}
#LogoEst
{
   width: 290px;
   height: 68px;
}
#wb_MenuPrincipal
{
   width: calc(100% - 0px);
   visibility: visible;
   display: block;
   margin: 0;
   text-align: center;
}
#LayerUsuario
{
   height: 62px;
   visibility: visible;
   display: inline;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #0076C0;
   background-image: none;
   margin: 0;
}
#LayerUsuario
{
   margin: 0;
}
#LayerUsuario_Container
{
   width: 1201px;
}
#wb_iconCerrarSesionEst
{
   left: 1142px;
   top: 125px;
   width: 40px;
   height: 33px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#iconCerrarSesionEst
{
   width: 40px;
   height: 33px;
}
#iconCerrarSesionEst g
{
   line-height: 33px;
   font-size: 33px;
   width: 32px;
}
}
@media only screen and (min-width: 800px) and (max-width: 1023px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_HeaderEstudiante
{
   visibility: visible;
   display: table;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #EEAD17;
   background-image: none;
}
#wb_HeaderEstudiante
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#HeaderEstudiante
{
   padding: 10px 15px 10px 15px;
}
#HeaderEstudiante .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#HeaderEstudiante > .row > .col-1, #HeaderEstudiante > .row > .col-2
{
   padding-right: 15px;
   padding-left: 15px;
}
#HeaderEstudiante > .row > .col-1
{
   display: block;
   width: 41.66666667%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#HeaderEstudiante > .row > .col-2
{
   display: block;
   width: 58.33333333%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_TextBienvenidaEst
{
   left: 415px;
   top: 40px;
   width: 303px;
   height: 37px;
   visibility: visible;
   display: inline;
}
#wb_TextBienvenidaEst
{
   font-family: "Segoe UI";
   font-weight: normal;
   font-size: 27px;
}
#wb_iconNotificacionesEst
{
   left: 748px;
   top: 40px;
   width: 36px;
   height: 33px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#iconNotificacionesEst
{
   width: 36px;
   height: 33px;
}
#iconNotificacionesEst g
{
   line-height: 33px;
   font-size: 33px;
   width: 32px;
}
#wb_LogoEst
{
   width: 290px;
   height: 68px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 0;
}
#LogoEst
{
   width: 290px;
   height: 68px;
}
#wb_MenuPrincipal
{
   width: calc(100% - 0px);
   visibility: visible;
   display: block;
   margin: 0;
   text-align: center;
}
#LayerUsuario
{
   height: 62px;
   visibility: visible;
   display: inline;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #0076C0;
   background-image: none;
   margin: 0;
}
#LayerUsuario
{
   margin: 0;
}
#LayerUsuario_Container
{
   width: 1201px;
}
#wb_iconCerrarSesionEst
{
   left: 1142px;
   top: 125px;
   width: 40px;
   height: 33px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#iconCerrarSesionEst
{
   width: 40px;
   height: 33px;
}
#iconCerrarSesionEst g
{
   line-height: 33px;
   font-size: 33px;
   width: 32px;
}
}
@media only screen and (min-width: 768px) and (max-width: 799px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_HeaderEstudiante
{
   visibility: visible;
   display: table;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #EEAD17;
   background-image: none;
}
#wb_HeaderEstudiante
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#HeaderEstudiante
{
   padding: 10px 15px 10px 15px;
}
#HeaderEstudiante .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#HeaderEstudiante > .row > .col-1, #HeaderEstudiante > .row > .col-2
{
   padding-right: 15px;
   padding-left: 15px;
}
#HeaderEstudiante > .row > .col-1
{
   display: block;
   width: 41.66666667%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#HeaderEstudiante > .row > .col-2
{
   display: block;
   width: 58.33333333%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_TextBienvenidaEst
{
   left: 399px;
   top: 40px;
   width: 290px;
   height: 37px;
   visibility: visible;
   display: inline;
}
#wb_TextBienvenidaEst
{
   font-family: "Segoe UI";
   font-weight: normal;
   font-size: 27px;
}
#wb_iconNotificacionesEst
{
   left: 719px;
   top: 40px;
   width: 34px;
   height: 33px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#iconNotificacionesEst
{
   width: 34px;
   height: 33px;
}
#iconNotificacionesEst g
{
   line-height: 33px;
   font-size: 33px;
   width: 32px;
}
#wb_LogoEst
{
   width: 290px;
   height: 68px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 0;
}
#LogoEst
{
   width: 290px;
   height: 68px;
}
#wb_MenuPrincipal
{
   width: calc(100% - 0px);
   visibility: visible;
   display: block;
   margin: 0;
   text-align: center;
}
#LayerUsuario
{
   height: 62px;
   visibility: visible;
   display: inline;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #0076C0;
   background-image: none;
   margin: 0;
}
#LayerUsuario
{
   margin: 0;
}
#LayerUsuario_Container
{
   width: 1201px;
}
#wb_iconCerrarSesionEst
{
   left: 1142px;
   top: 125px;
   width: 40px;
   height: 33px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#iconCerrarSesionEst
{
   width: 40px;
   height: 33px;
}
#iconCerrarSesionEst g
{
   line-height: 33px;
   font-size: 33px;
   width: 32px;
}
}
@media only screen and (max-width: 767px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_HeaderEstudiante
{
   visibility: visible;
   display: table;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #EEAD17;
   background-image: none;
}
#wb_HeaderEstudiante
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#HeaderEstudiante
{
   padding: 10px 15px 10px 15px;
}
#HeaderEstudiante .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#HeaderEstudiante > .row > .col-1, #HeaderEstudiante > .row > .col-2
{
   padding-right: 15px;
   padding-left: 15px;
}
#HeaderEstudiante > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#HeaderEstudiante > .row > .col-2
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_TextBienvenidaEst
{
   left: 15px;
   top: 108px;
   width: 290px;
   height: 37px;
   visibility: visible;
   display: inline;
}
#wb_TextBienvenidaEst
{
   font-family: "Segoe UI";
   font-weight: normal;
   font-size: 27px;
}
#wb_iconNotificacionesEst
{
   left: 140px;
   top: 175px;
   width: 40px;
   height: 33px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#iconNotificacionesEst
{
   width: 40px;
   height: 33px;
}
#iconNotificacionesEst g
{
   line-height: 33px;
   font-size: 33px;
   width: 32px;
}
#wb_LogoEst
{
   width: 290px;
   height: 68px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 0;
}
#LogoEst
{
   width: 290px;
   height: 68px;
}
#wb_MenuPrincipal
{
   width: calc(100% - 0px);
   visibility: visible;
   display: block;
   margin: 0;
   text-align: center;
}
#LayerUsuario
{
   height: 62px;
   visibility: visible;
   display: inline;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #0076C0;
   background-image: none;
   margin: 0;
}
#LayerUsuario
{
   margin: 0;
}
#LayerUsuario_Container
{
   width: 1201px;
}
#wb_iconCerrarSesionEst
{
   left: 1142px;
   top: 125px;
   width: 40px;
   height: 33px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#iconCerrarSesionEst
{
   width: 40px;
   height: 33px;
}
#iconCerrarSesionEst g
{
   line-height: 33px;
   font-size: 33px;
   width: 32px;
}
}
