body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_LayoutContenidoInsMon
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutContenidoInsMon
{
   box-sizing: border-box;
   padding: 0px 5px 0px 5px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutContenidoInsMon .row
{
   margin-right: -5px;
   margin-left: -5px;
}
#LayoutContenidoInsMon > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 5px;
   padding-left: 5px;
   position: relative;
}
#LayoutContenidoInsMon > .row > .col-1
{
   float: left;
}
#LayoutContenidoInsMon > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutContenidoInsMon:before,
#LayoutContenidoInsMon:after,
#LayoutContenidoInsMon .row:before,
#LayoutContenidoInsMon .row:after
{
   display: table;
   content: " ";
}
#LayoutContenidoInsMon:after,
#LayoutContenidoInsMon .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutContenidoInsMon > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid7
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid7
{
   box-sizing: border-box;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid7 .row
{
   margin-right: 0;
   margin-left: 0;
}
#LayoutGrid7 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid7 > .row > .col-1
{
   float: left;
}
#LayoutGrid7 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid7:before,
#LayoutGrid7:after,
#LayoutGrid7 .row:before,
#LayoutGrid7 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid7:after,
#LayoutGrid7 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid7 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGridInfoEstud
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGridInfoEstud
{
   box-sizing: border-box;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGridInfoEstud .row
{
   margin-right: 0;
   margin-left: 0;
}
#LayoutGridInfoEstud > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGridInfoEstud > .row > .col-1
{
   float: left;
}
#LayoutGridInfoEstud > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGridInfoEstud:before,
#LayoutGridInfoEstud:after,
#LayoutGridInfoEstud .row:before,
#LayoutGridInfoEstud .row:after
{
   display: table;
   content: " ";
}
#LayoutGridInfoEstud:after,
#LayoutGridInfoEstud .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGridInfoEstud > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#Table1
{
   border: 0px solid #C0C0C0;
   background-color: transparent;
   background-image: none;
   border-collapse: separate;
   border-spacing: 0px;
   margin: 0;
}
#Table1 td
{
   padding: 0;
}
#Table1 td div
{
   white-space: nowrap;
}
#Table1 .cell0
{
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: middle;
}
#LineFinalInsMon
{
   border-color: #FFFFFF;
   border-style: solid;
   border-bottom-width: 24px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#wb_LayoutContentFormInsMo
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutContentFormInsMo
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutContentFormInsMo .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutContentFormInsMo > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutContentFormInsMo > .row > .col-1
{
   float: left;
}
#LayoutContentFormInsMo > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutContentFormInsMo:before,
#LayoutContentFormInsMo:after,
#LayoutContentFormInsMo .row:before,
#LayoutContentFormInsMo .row:after
{
   display: table;
   content: " ";
}
#LayoutContentFormInsMo:after,
#LayoutContentFormInsMo .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutContentFormInsMo > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutFormInsMat
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutFormInsMat
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutFormInsMat .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutFormInsMat > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutFormInsMat > .row > .col-1
{
   float: left;
}
#LayoutFormInsMat > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutFormInsMat:before,
#LayoutFormInsMat:after,
#LayoutFormInsMat .row:before,
#LayoutFormInsMat .row:after
{
   display: table;
   content: " ";
}
#LayoutFormInsMat:after,
#LayoutFormInsMat .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutFormInsMat > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#ButtonInsMatInsMat
{
   font-family: "Segoe UI";
   font-weight: bold;
   font-size: 16px;
   font-style: normal;
}
#wb_ButtonInsMatInsMat
{
   margin: 0;
}
#wb_ButtonInsMatInsMat .ui-button
{
   margin: 0;
   padding: 0;
   line-height: 52px;
}
#ButtonInsMatInsMat
{
   color: #454545;
   text-decoration: none;
}
#ButtonInsMatInsMat :hover
{
   color: #2B2B2B;
}
#ButtonInsMatInsMat :active
{
   color: #FFFFFF;
}
#wb_ButtonInsMatInsMat .ui-corner-all, #wb_ButtonInsMatInsMat .ui-corner-left
{
   border-bottom-left-radius: 4px;
   border-top-left-radius: 4px;
}
#wb_ButtonInsMatInsMat .ui-corner-all, #wb_ButtonInsMatInsMat .ui-corner-right
{
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
}
#wb_ButtonInsMatInsMat .ui-button
{
   background-color: #0076C0;
   background-image: none;
   border: 1px solid #0076C0;
   color: #FFFFFF;
}
#wb_ButtonInsMatInsMat .ui-state-hover, #wb_ButtonInsMatInsMat .ui-button:hover
{
   border-color: #0069A8;
   background-color: #0069A8;
   background-image: none;
   color: #DCDCDC;
}
#wb_ButtonInsMatInsMat .ui-state-active, #wb_ButtonInsMatInsMat .ui-button:active
{
   border-color: #2E6DA4;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
}
#wb_ButtonInsMatInsMat .ui-button .ui-icon
{
   background-image: url(images/inscribir-ButtonInsMatInsMat-default.png);
   background-position: 0 0;
}
#wb_ButtonInsMatInsMat .ui-button:hover .ui-icon
{
   background-image: url(images/inscribir-ButtonInsMatInsMat-hover.png);
   background-position: 0 0;
}
#wb_ButtonInsMatInsMat .ui-button:active .ui-icon
{
   background-image: url(images/inscribir-ButtonInsMatInsMat-active.png);
   background-position: 0 0;
}
#wb_ButtonInsMatInsMat .ui-visual-focus
{
   box-shadow: none;
}
#EditboxCodigoMatInsMat:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#EditboxCodigoMatInsMat::placeholder
{
   color: #C1C1C1;
   opacity: 1;
}
#EditboxCodigoMatInsMat::-ms-input-placeholder
{
   color: #C1C1C1;
}
#LinSepComForm
{
   border-color: #FFFFFF;
   border-style: solid;
   border-bottom-width: 51px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#LineSepInsmAT
{
   border-color: #FFFFFF;
   border-style: solid;
   border-bottom-width: 24px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#wb_LayoutGridSep
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGridSep
{
   box-sizing: border-box;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGridSep .row
{
   margin-right: 0;
   margin-left: 0;
}
#LayoutGridSep > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGridSep > .row > .col-1
{
   float: left;
}
#LayoutGridSep > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGridSep:before,
#LayoutGridSep:after,
#LayoutGridSep .row:before,
#LayoutGridSep .row:after
{
   display: table;
   content: " ";
}
#LayoutGridSep:after,
#LayoutGridSep .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGridSep > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#LinSepComForm
{
   display: inline-block;
   width: 247px;
   z-index: 7;
}
#EditboxCodigoMatInsMat
{
   display: inline-block;
   width: 434px;
   height: 54px;
   z-index: 6;
}
#LineFinalInsMon
{
   display: block;
   width: 100%;
   z-index: 3;
}
#Table1
{
   display: table;
   width: 100%;
   height: 186px;
   z-index: 0;
}
#wb_EmbeddedPageInsMon
{
   display: inline-block;
   width: 100%;
   z-index: 2;
}
#wb_ButtonInsMatInsMat
{
   display: inline-block;
   width: 171px;
   height: 54px;
   z-index: 8;
}
#LineSepInsmAT
{
   display: block;
   width: 100%;
   z-index: 13;
}
#ButtonInsMatInsMat
{
   width: 100%;
   height: 100%;
}
@media only screen and (min-width: 1024px) and (max-width: 1200px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_LayoutContenidoInsMon
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_LayoutContenidoInsMon
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutContenidoInsMon
{
   padding: 0px 5px 0px 5px;
}
#LayoutContenidoInsMon .row
{
   margin-right: -5px;
   margin-left: -5px;
}
#LayoutContenidoInsMon > .row > .col-1
{
   padding-right: 5px;
   padding-left: 5px;
}
#LayoutContenidoInsMon > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_LayoutGrid7
{
   visibility: visible;
   display: table;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_LayoutGrid7
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid7
{
   padding: 0;
}
#LayoutGrid7 .row
{
   margin-right: -0px;
   margin-left: -0px;
}
#LayoutGrid7 > .row > .col-1
{
   padding-right: 0px;
   padding-left: 0px;
}
#LayoutGrid7 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_EmbeddedPageInsMon
{
   width: 970px;
   height: 186px;
   visibility: visible;
   display: inline-block;
}
#LineFinalInsMon
{
   width: calc(100% - 0px);
   height: 24px;
   visibility: visible;
   display: block;
   margin: 0;
}
#LineFinalInsMon
{
   border-color: #FFFFFF;
   border-bottom-width: 24px;
}
#wb_LayoutContentFormInsMo
{
   visibility: visible;
   display: table;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_LayoutContentFormInsMo
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutContentFormInsMo
{
   padding: 0px 15px 0px 15px;
}
#LayoutContentFormInsMo .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutContentFormInsMo > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutContentFormInsMo > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_LayoutFormInsMat
{
   visibility: visible;
   display: table;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_LayoutFormInsMat
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutFormInsMat
{
   padding: 0px 15px 0px 15px;
}
#LayoutFormInsMat .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutFormInsMat > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutFormInsMat > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_ButtonInsMatInsMat
{
   width: 171px;
   height: 54px;
   visibility: visible;
   display: inline-block;
   margin: 0;
}
#EditboxCodigoMatInsMat
{
   width: 434px;
   height: 54px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#LinSepComForm
{
   width: 247px;
   height: 51px;
   visibility: visible;
   display: inline-block;
   margin: 0;
}
#LinSepComForm
{
   border-color: #FFFFFF;
   border-bottom-width: 51px;
}
#LineSepInsmAT
{
   width: calc(100% - 0px);
   height: 24px;
   visibility: visible;
   display: block;
   margin: 0;
}
#LineSepInsmAT
{
   border-color: #FFFFFF;
   border-bottom-width: 24px;
}
#wb_LayoutGridSep
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_LayoutGridSep
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGridSep
{
   padding: 0;
}
#LayoutGridSep .row
{
   margin-right: -0px;
   margin-left: -0px;
}
#LayoutGridSep > .row > .col-1
{
   padding-right: 0px;
   padding-left: 0px;
}
#LayoutGridSep > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
}
@media only screen and (min-width: 800px) and (max-width: 1023px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_LayoutContenidoInsMon
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_LayoutContenidoInsMon
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutContenidoInsMon
{
   padding: 0px 5px 0px 5px;
}
#LayoutContenidoInsMon .row
{
   margin-right: -5px;
   margin-left: -5px;
}
#LayoutContenidoInsMon > .row > .col-1
{
   padding-right: 5px;
   padding-left: 5px;
}
#LayoutContenidoInsMon > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_LayoutGrid7
{
   visibility: visible;
   display: table;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_LayoutGrid7
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid7
{
   padding: 0;
}
#LayoutGrid7 .row
{
   margin-right: -0px;
   margin-left: -0px;
}
#LayoutGrid7 > .row > .col-1
{
   padding-right: 0px;
   padding-left: 0px;
}
#LayoutGrid7 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_EmbeddedPageInsMon
{
   width: 970px;
   height: 186px;
   visibility: visible;
   display: inline-block;
}
#LineFinalInsMon
{
   width: calc(100% - 0px);
   height: 24px;
   visibility: visible;
   display: block;
   margin: 0;
}
#LineFinalInsMon
{
   border-color: #FFFFFF;
   border-bottom-width: 24px;
}
#wb_LayoutContentFormInsMo
{
   visibility: visible;
   display: table;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_LayoutContentFormInsMo
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutContentFormInsMo
{
   padding: 0px 15px 0px 15px;
}
#LayoutContentFormInsMo .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutContentFormInsMo > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutContentFormInsMo > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_LayoutFormInsMat
{
   visibility: visible;
   display: table;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_LayoutFormInsMat
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutFormInsMat
{
   padding: 0px 15px 0px 15px;
}
#LayoutFormInsMat .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutFormInsMat > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutFormInsMat > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_ButtonInsMatInsMat
{
   width: 171px;
   height: 54px;
   visibility: visible;
   display: inline-block;
   margin: 0;
}
#EditboxCodigoMatInsMat
{
   width: 434px;
   height: 54px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#LinSepComForm
{
   width: 247px;
   height: 51px;
   visibility: visible;
   display: inline-block;
   margin: 0;
}
#LinSepComForm
{
   border-color: #FFFFFF;
   border-bottom-width: 51px;
}
#LineSepInsmAT
{
   width: calc(100% - 0px);
   height: 24px;
   visibility: visible;
   display: block;
   margin: 0;
}
#LineSepInsmAT
{
   border-color: #FFFFFF;
   border-bottom-width: 24px;
}
#wb_LayoutGridSep
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_LayoutGridSep
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGridSep
{
   padding: 0;
}
#LayoutGridSep .row
{
   margin-right: -0px;
   margin-left: -0px;
}
#LayoutGridSep > .row > .col-1
{
   padding-right: 0px;
   padding-left: 0px;
}
#LayoutGridSep > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
}
@media only screen and (min-width: 768px) and (max-width: 799px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_LayoutContenidoInsMon
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_LayoutContenidoInsMon
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutContenidoInsMon
{
   padding: 0px 5px 0px 5px;
}
#LayoutContenidoInsMon .row
{
   margin-right: -5px;
   margin-left: -5px;
}
#LayoutContenidoInsMon > .row > .col-1
{
   padding-right: 5px;
   padding-left: 5px;
}
#LayoutContenidoInsMon > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_LayoutGrid7
{
   visibility: visible;
   display: table;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_LayoutGrid7
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid7
{
   padding: 0;
}
#LayoutGrid7 .row
{
   margin-right: -0px;
   margin-left: -0px;
}
#LayoutGrid7 > .row > .col-1
{
   padding-right: 0px;
   padding-left: 0px;
}
#LayoutGrid7 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_EmbeddedPageInsMon
{
   width: 970px;
   height: 186px;
   visibility: visible;
   display: inline-block;
}
#LineFinalInsMon
{
   width: calc(100% - 0px);
   height: 24px;
   visibility: visible;
   display: block;
   margin: 0;
}
#LineFinalInsMon
{
   border-color: #FFFFFF;
   border-bottom-width: 24px;
}
#wb_LayoutContentFormInsMo
{
   visibility: visible;
   display: table;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_LayoutContentFormInsMo
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutContentFormInsMo
{
   padding: 0px 15px 0px 15px;
}
#LayoutContentFormInsMo .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutContentFormInsMo > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutContentFormInsMo > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_LayoutFormInsMat
{
   visibility: visible;
   display: table;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_LayoutFormInsMat
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutFormInsMat
{
   padding: 0px 15px 0px 15px;
}
#LayoutFormInsMat .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutFormInsMat > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutFormInsMat > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_ButtonInsMatInsMat
{
   width: 171px;
   height: 54px;
   visibility: visible;
   display: inline-block;
   margin: 0;
}
#EditboxCodigoMatInsMat
{
   width: 434px;
   height: 54px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#LinSepComForm
{
   width: 247px;
   height: 51px;
   visibility: visible;
   display: inline-block;
   margin: 0;
}
#LinSepComForm
{
   border-color: #FFFFFF;
   border-bottom-width: 51px;
}
#LineSepInsmAT
{
   width: calc(100% - 0px);
   height: 24px;
   visibility: visible;
   display: block;
   margin: 0;
}
#LineSepInsmAT
{
   border-color: #FFFFFF;
   border-bottom-width: 24px;
}
#wb_LayoutGridSep
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_LayoutGridSep
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGridSep
{
   padding: 0;
}
#LayoutGridSep .row
{
   margin-right: -0px;
   margin-left: -0px;
}
#LayoutGridSep > .row > .col-1
{
   padding-right: 0px;
   padding-left: 0px;
}
#LayoutGridSep > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
}
@media only screen and (max-width: 767px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_LayoutContenidoInsMon
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_LayoutContenidoInsMon
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutContenidoInsMon
{
   padding: 0px 5px 0px 5px;
}
#LayoutContenidoInsMon .row
{
   margin-right: -5px;
   margin-left: -5px;
}
#LayoutContenidoInsMon > .row > .col-1
{
   padding-right: 5px;
   padding-left: 5px;
}
#LayoutContenidoInsMon > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_LayoutGrid7
{
   visibility: visible;
   display: table;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_LayoutGrid7
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid7
{
   padding: 0;
}
#LayoutGrid7 .row
{
   margin-right: -0px;
   margin-left: -0px;
}
#LayoutGrid7 > .row > .col-1
{
   padding-right: 0px;
   padding-left: 0px;
}
#LayoutGrid7 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_EmbeddedPageInsMon
{
   width: 970px;
   height: 186px;
   visibility: visible;
   display: inline-block;
}
#LineFinalInsMon
{
   width: calc(100% - 0px);
   height: 24px;
   visibility: visible;
   display: block;
   margin: 0;
}
#LineFinalInsMon
{
   border-color: #FFFFFF;
   border-bottom-width: 24px;
}
#wb_LayoutContentFormInsMo
{
   visibility: visible;
   display: table;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_LayoutContentFormInsMo
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutContentFormInsMo
{
   padding: 0px 15px 0px 15px;
}
#LayoutContentFormInsMo .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutContentFormInsMo > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutContentFormInsMo > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_LayoutFormInsMat
{
   visibility: visible;
   display: table;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_LayoutFormInsMat
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutFormInsMat
{
   padding: 0px 15px 0px 15px;
}
#LayoutFormInsMat .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutFormInsMat > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutFormInsMat > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_ButtonInsMatInsMat
{
   width: 171px;
   height: 54px;
   visibility: visible;
   display: inline-block;
   margin: 0;
}
#EditboxCodigoMatInsMat
{
   width: 434px;
   height: 54px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#LinSepComForm
{
   width: 247px;
   height: 51px;
   visibility: visible;
   display: inline-block;
   margin: 0;
}
#LinSepComForm
{
   border-color: #FFFFFF;
   border-bottom-width: 51px;
}
#LineSepInsmAT
{
   width: calc(100% - 0px);
   height: 24px;
   visibility: visible;
   display: block;
   margin: 0;
}
#LineSepInsmAT
{
   border-color: #FFFFFF;
   border-bottom-width: 24px;
}
#wb_LayoutGridSep
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_LayoutGridSep
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGridSep
{
   padding: 0;
}
#LayoutGridSep .row
{
   margin-right: -0px;
   margin-left: -0px;
}
#LayoutGridSep > .row > .col-1
{
   padding-right: 0px;
   padding-left: 0px;
}
#LayoutGridSep > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
}
