<div id="wb_LayoutGridEstud">
    <div id="LayoutGridEstud">
        <div class="row">
            <div class="col-1">
                <div id="wb_LayoutGridFormEstud">
                    <di id="LayoutGridFormEstud" onsubmit="return ValidateLayoutGrid1()">
                        <div class="row">
                            <div class="col-1">
                                <div id="wb_TextTituloRegAcademico">
                                    <span style="color:#000000;font-family:'Segoe UI';font-size:32px;"><strong>Agregar/Modificar Registro de materias</strong></span>
                                </div>
                                <div id="wb_TextModHistorialNotas">
                                    <span style="color:#4F4F4F;font-family:'Segoe UI';font-size:16px;">Si desea modificar el historial de notas del estudiante seleccionado, <a href="historial">haz clic aqui.</a></span>
                                </div>
                                <div id="wb_TextSubAgregarCargaAcad">
                                    <span style="color:#4F4F4F;font-family:'Segoe UI';font-size:27px;">Agregar Carga Academica</span>
                                </div>
                                <div id="wb_Text3">
                                    <span style="color:#4F4F4F;font-family:'Segoe UI';font-size:16px;">A continuacion se muestran el horario actual del semestre el estudiante.</span>
                                </div>
                                <table id="TableCargaAcademica">
                                    <tr>
                                        <td class="cell0"><span style="color:#4F4F4F;font-family:'Segoe UI';font-size:24px;line-height:32px;"><strong>Codigo</strong></span></td>
                                        <td class="cell0"><span style="color:#4F4F4F;font-family:'Segoe UI';font-size:24px;line-height:32px;"><strong>Nombre</strong></span></td>
                                        <td class="cell0"><span style="color:#4F4F4F;font-family:'Segoe UI';font-size:24px;line-height:32px;"><strong>Creditos</strong></span></td>
                                        <td class="cell0"><span style="color:#4F4F4F;font-family:'Segoe UI';font-size:24px;line-height:32px;"><strong>Semestre</strong></span></td>
                                    </tr>
                                </table>
                                <hr id="LineSepRegAcad1">
                                <%= form_tag(schedule_materias_academics_path(:student_id)) do%>
                                    <%= text_field_tag 'codigo_materia', nil, placeholder: "Codigo de la materia", class: "EditBox", id: "EditboxCodigoMatRegAcad"%>
                                    <hr id="LineSepFormRegAcad">
                                    <div id="wb_ButtonInsMatRegAcad">
                                        <%= submit_tag "Agregar Materia", id: "ButtonInsMatRegAcad", class: "boton", style: "color: #FFFFFF"%> 
                                    </div>
                                <%end%>
                                <hr id="LineSepRegAcad3">
                                <div id="wb_TextErrorRegAcad">
                                    <span style="color:#FF0000;font-family:'Segoe UI';font-size:16px;"> </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>