<% if student_signed_in? %>
<div id="wb_LayoutContenido">
    <div id="LayoutContenido">
        <div class="row">
            <div class="col-1">
                <hr id="LineSep6">
                <div id="wb_TextoEstudiante">
                    <span style="color:#5A5A5A;">Bienvenido a la plataforma de control para estudiantes. Desde aqui usted puede gestionar el control de su horario y su carga academica semestral, asi como la gestion de monitorias.</span>
                    <!--<%= @students.inspect %>-->
                </div>
                <hr id="LineSep5">
                <div id="wb_LayoutEstudiantes">
                    <div id="LayoutEstudiantes">
                        <div class="row">
                            <div class="col-1">
                                <div id="wb_tituloHorario">
                                    <span style="color:#464646;">Gestion de Horario</span>
                                </div>
                                <hr id="Line1">
                                <div id="wb_IconHorarios">
                                    <%= link_to student_schedules_path(current_student) do%>
                                        <div id="IconHorarios"><i class="material-icons">&#xe865;</i></div>
                                    <% end %>
                                </div>
                                <hr id="LineSep4">
                                <div id="wb_TextoHorario">
                                    <span style="color:#5A5A5A;">Gestiona y cuadrar tu horario, agrega materias adicionales por un costo, e imprime tu recibo de matricula desde aqui.</span>
                                </div>
                                <hr id="Line2">
                            </div>
                            <div class="col-2">
                                <div id="wb_tituloMonitoria">
                                    <span style="color:#464646;">Monitorias</span>
                                </div>
                                <hr id="LineSep1">
                                <div id="wb_IconoMonitorias">
                                    <!--Pero ahora estás tratando de acceder a un monitoring específico así /students/:student_id/monitorings/:id-->
                                    <%= link_to student_monitorings_path(current_student) do%>
                                        <div id="IconoMonitorias"><i class="material-icons">&#xe8a3;</i></div>
                                    <%end%>
                                </div>
                                <hr id="LineSep3">
                                <div id="wb_TextoMonitoria">
                                    <span style="color:#5A5A5A;">Ayuda a los demas estudiantes con tus conocimientos. Puedes inscribirte en monitorias en una materia en especifico.</span>
                                </div>
                                <hr id="LineSep2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% else %>
<script type="text/javascript">
        window.location.href="/students/sign_in"  // put your correct path in a string here
    </script>
    <% end %>