<div id="wb_LayoutGridMateriasRegistro">
    <div id="LayoutGridMateriasRegistro">
        <div class="row">
            <div class="col-1">
                <div id="wb_LayoutContentGMateriasRegistro">
                    <div id="LayoutContentGMateriasRegistro">
                        <div class="row">
                            <div class="col-1">
                                <div id="wb_TextMateriasRegistroPrincipal">
                                    <span style="color:#808080;"><strong>Gestion de Materias</strong></span>
                                </div>
                                <%= render 'infosub' %>
                                <div id="wb_ButtonRegistrarGroupAcademic" style= "padding-top: 15px; padding-bottom: 15px;">
                                    <a class="ui-button ui-widget ui-corner-all" id="ButtonRegistrarGroupAcademic" href=<%= "/academics/subjects/new" %> target="_self" title="Agregar Grupo" id="ButtonRegistrarGroupAcademic" class="boton">Añadir una Materia</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>