<div id="wb_LayoutGridMateriasRegistro">
    <div id="LayoutGridMateriasRegistro">
        <div class="row">
            <div class="col-1">
                <div id="wb_LayoutContentGMateriasRegistro">
                    <div id="LayoutContentGMateriasRegistro">
                        <div class="row">
                            <div class="col-1">
                                <div id="wb_TextMateriasRegistroPrincipal">
                                    <span style="color:#808080;"><strong>Gestion de Materias</strong></span>
                                </div>
                                <%= render 'infosub' %>
                                <hr id="LineSepMateriasRegistro">
                                <%= render 'form', operacion: "Crear" %>
                                <hr id="LineMateriasRegistro5">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>