        <div id="wb_LayoutContenidoIEst">
            <div id="LayoutContenidoIEst">
                <div class="row">
                    <div class="col-1">
                        <div id="wb_PageEstudiantes">
                            <div id="wb_LayoutGrid1">
                                <div id="LayoutGrid1">
                                    <div class="row">
                                        <div class="col-1">
                                            <table id="Table1">
                                                <tr>
                                                    <td class="cell0"><span style="color:#4F4F4F;font-family:'Segoe UI';font-size:17px;line-height:23px;"><br><strong>Nombre:</strong><br></span></td>
                                                    <td class="cell0"><span style="color:#4F4F4F;font-family:'Segoe UI';font-size:17px;line-height:23px;"><br><strong>Promedio:</strong><br></span></td>
                                                </tr>
                                                <tr>
                                                    <td class="cell0"><span style="color:#4F4F4F;font-family:'Segoe UI';font-size:17px;line-height:23px;"><br><strong>Semestre:</strong><br></span></td>
                                                    <td class="cell0"><span style="color:#4F4F4F;font-family:'Segoe UI';font-size:17px;line-height:23px;"><br><strong>Tipo:</strong><br></span></td>
                                                </tr>
                                                <tr>
                                                    <td class="cell0"><span style="color:#4F4F4F;font-family:'Segoe UI';font-size:17px;line-height:23px;"><br><strong>Carrera: </strong><br></span></td>
                                                    <td class="cell0"><span style="color:#000000;font-family:Arial;font-size:13px;line-height:23px;"><br></span><span style="color:#4F4F4F;font-family:'Segoe UI';font-size:17px;line-height:23px;"><strong>Facultad:</strong></span></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div id="wb_LayoutGrid3">
                            <div id="LayoutGrid3">
                                <div class="row">
                                    <div class="col-1">
                                        <hr id="LineSep1Iest">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="wb_LayoutMaterias">
            <form name="matricula" method="post" action="" enctype="text/plain" accept-charset="UTF-8" id="LayoutMaterias">
                <div class="row">
                    <div class="col-1">
                        <hr id="Line4">
                        <div id="wb_LayoutFormMaterias">
                            <div id="LayoutFormMaterias">
                                <div class="row">
                                    <div class="col-1">
                                        <div id="wb_ButtonA単adirMaterias">
                                            <a class="ui-button ui-widget ui-corner-all" id="ButtonA単adirMaterias" href="/estudiante/horario/materias_disponibles" target="_blank" title="Materias Disponibles" id="ButtonA単adirMaterias" class="boton">A単adir Materias</a>
                                        </div>
                                        <hr id="LineSep2Iest">
                                    </div>
                                    <div class="col-2">
                                    </div>
                                    <div class="col-3">
                                        <button type="submit" id="ButtonEliminarMateria" name="eliminar-materia" value="Eliminar Materias" class="boton">Eliminar Materias</button>
                                        <hr id="LineSep3Iest">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table id="TablaMaterias">
                            <tr>
                                <td class="cell0"><div id="wb_Checkbox1">
                                        <input type="checkbox" id="Checkbox1" name="" value="on" checked class="CheckBox" disabled><label for="Checkbox1"></label>
                                    </div>
                                </td>
                                <td class="cell1"><span style="color:#000000;"><strong>MATERIA</strong></span></td>
                                <td class="cell1"><span style="color:#000000;"><strong>LUN</strong></span></td>
                                <td class="cell1"><span style="color:#000000;"><strong>MAR</strong></span></td>
                                <td class="cell1"><span style="color:#000000;"><strong>MIE</strong></span></td>
                                <td class="cell1"><span style="color:#000000;"><strong>JUE</strong></span></td>
                                <td class="cell1"><span style="color:#000000;"><strong>VIE</strong></span></td>
                                <td class="cell1"><span style="color:#000000;"><strong>SAB</strong></span></td>
                                <td class="cell1"><span style="color:#000000;"><strong>DOM</strong></span></td>
                                <td class="cell1"><span style="color:#000000;"><strong>CRED</strong></span></td>
                                <td class="cell1"><span style="color:#000000;"><strong>COSTO AD</strong></span></td>
                            </tr>
                            <tr>
                                <td class="cell2"><div id="wb_Checkbox2">
                                        <input type="checkbox" id="Checkbox2" name="" value="on" class="CheckBox"><label for="Checkbox2"></label>
                                    </div>
                                </td>
                                <td class="cell3"><span style="color:#000000;">SIS. INFORMACION</span></td>
                                <td class="cell3"><span style="color:#000000;">9:00-11:00 AM</span></td>
                                <td class="cell3"><span style="color:#000000;"> </span></td>
                                <td class="cell3"><span style="color:#000000;"> </span></td>
                                <td class="cell3"><span style="color:#000000;"> </span></td>
                                <td class="cell3"><span style="color:#000000;">9:00-11:00 AM</span></td>
                                <td class="cell3"><span style="color:#000000;"> </span></td>
                                <td class="cell3"><span style="color:#000000;"> </span></td>
                                <td class="cell3"><span style="color:#000000;">4</span></td>
                                <td class="cell3"><span style="color:#000000;">0</span></td>
                            </tr>
                            <tr>
                                <td class="cell2"><div id="wb_Checkbox3">
                                        <input type="checkbox" id="Checkbox3" name="" value="on" class="CheckBox"><label for="Checkbox3"></label>
                                    </div>
                                </td>
                                <td class="cell3"><span style="color:#000000;">REDES COMPUTACIONALES</span></td>
                                <td class="cell3"><span style="color:#000000;"> </span></td>
                                <td class="cell3"><span style="color:#000000;">9:00-11:00 AM</span></td>
                                <td class="cell3"><span style="color:#000000;"> </span></td>
                                <td class="cell3"><span style="color:#000000;">9:00-11:00 AM</span></td>
                                <td class="cell3"><span style="color:#000000;"> </span></td>
                                <td class="cell3"><span style="color:#000000;"> </span></td>
                                <td class="cell3"><span style="color:#000000;"> </span></td>
                                <td class="cell3"><span style="color:#000000;">3</span></td>
                                <td class="cell3"><span style="color:#000000;">0</span></td>
                            </tr>
                            <tr>
                                <td class="cell2"><div id="wb_Checkbox4">
                                        <input type="checkbox" id="Checkbox4" name="" value="on" class="CheckBox"><label for="Checkbox4"></label>
                                    </div>
                                </td>
                                <td class="cell3"><span style="color:#000000;">PROGRAMACION I</span></td>
                                <td class="cell3"><span style="color:#000000;">14:00-16:00 PM</span></td>
                                <td class="cell3"><span style="color:#000000;"> </span></td>
                                <td class="cell3"><span style="color:#000000;">14:00-16:00 PM</span></td>
                                <td class="cell3"><span style="color:#000000;"> </span></td>
                                <td class="cell3"><span style="color:#000000;"> </span></td>
                                <td class="cell3"><span style="color:#000000;"> </span></td>
                                <td class="cell3"><span style="color:#000000;"> </span></td>
                                <td class="cell3"><span style="color:#000000;">3</span></td>
                                <td class="cell3"><span style="color:#000000;">0</span></td>
                            </tr>
                            <tr>
                                <td class="cell2"><div id="wb_Checkbox5">
                                        <input type="checkbox" id="Checkbox5" name="" value="on" class="CheckBox"><label for="Checkbox5"></label>
                                    </div>
                                </td>
                                <td class="cell3"><span style="color:#000000;">CALCULO DIFERENCIAL</span></td>
                                <td class="cell3"><span style="color:#000000;"> </span></td>
                                <td class="cell3"><span style="color:#000000;">7:00-9:00 AM</span></td>
                                <td class="cell3"><span style="color:#000000;"> </span></td>
                                <td class="cell3"><span style="color:#000000;">7:00-9:00 AM</span></td>
                                <td class="cell3"><span style="color:#000000;"> </span></td>
                                <td class="cell4"><span style="color:#000000;"> </span></td>
                                <td class="cell3"><span style="color:#000000;"> </span></td>
                                <td class="cell3"><span style="color:#000000;">3</span></td>
                                <td class="cell3"><span style="color:#000000;">0</span></td>
                            </tr>
                            <tr>
                                <td class="cell2"><div id="wb_Checkbox6">
                                        <input type="checkbox" id="Checkbox6" name="" value="on" class="CheckBox"><label for="Checkbox6"></label>
                                    </div>
                                </td>
                                <td class="cell3"><span style="color:#000000;">ANALISIS Y DIS. ALGORIT.</span></td>
                                <td class="cell3"><span style="color:#000000;"> </span></td>
                                <td class="cell3"><span style="color:#000000;"> </span></td>
                                <td class="cell3"><span style="color:#000000;">7:00-9:00 AM</span></td>
                                <td class="cell3"><span style="color:#000000;"> </span></td>
                                <td class="cell3"><span style="color:#000000;">7:00-9:00 AM</span></td>
                                <td class="cell3"><span style="color:#000000;"> </span></td>
                                <td class="cell3"><span style="color:#000000;"> </span></td>
                                <td class="cell3"><span style="color:#000000;">3</span></td>
                                <td class="cell3"><span style="color:#000000;">0</span></td>
                            </tr>
                            <tr>
                                <td class="cell2"><div id="wb_Checkbox7">
                                        <input type="checkbox" id="Checkbox7" name="Checkbox7" value="on" class="CheckBox"><label for="Checkbox7"></label>
                                    </div>
                                </td>
                                <td class="cell3"><span style="color:#000000;">SISTEMAS OPERATIVOS</span></td>
                                <td class="cell5">&nbsp;</td>
                                <td class="cell3"><span style="color:#000000;">13:00-15:00 PM</span></td>
                                <td class="cell5">&nbsp;</td>
                                <td class="cell3"><span style="color:#000000;">13:00-15:00 PM</span></td>
                                <td class="cell5">&nbsp;</td>
                                <td class="cell5">&nbsp;</td>
                                <td class="cell5">&nbsp;</td>
                                <td class="cell3"><span style="color:#000000;">3</span></td>
                                <td class="cell3"><span style="color:#000000;">$1.030.000</span></td>
                            </tr>
                        </table>
                        <hr id="LineSep4Iest">
                        <div id="wb_TextoInfoMateria" class="TextoInfoMateria">
                            <span style="color:#000000;font-family:'Segoe UI';font-size:13px;">TOTAL MATERIAS: 6<br>TOTAL PRECIO ACUM: $1.030.000<br>CARGA ACADEMICA: 19<br>PRECIO MATRICULA: $5.465.000<br>TOTAL A PAGAR: $6.495.000</span>
                        </div>
                        <hr id="LineSep5Iest">
                        <select name="ComboboxPago" size="1" id="ComboboxPago" class="ComboBox">
                            <option selected value="Tipo de pago">Tipo de pago</option>
                            <option value="Tarjeta de debito">Tarjeta de debito</option>
                            <option value="Tarjeta de credito">Tarjeta de credito</option>
                            <option value="Efectivo">Efectivo</option>
                        </select>
                        <hr id="Line6">
                        <button type="submit" id="BotonPagar" name="boton-pagar" value="Pagar" class="boton">Pagar</button>
                        <hr id="LineSep6Iest">
                    </div>
                </div>
            </form>
        </div>