<div id="wb_LayoutGridGruposAcademic">
    <div id="LayoutGridGruposAcademic">
        <div class="row">
            <div class="col-1">
                <div id="wb_LayoutContentGHrupos">
                	<%= render "infogroups" %>
                	<div id="wb_ButtonRegistrarGroupAcademic" style= "padding-top: 15px; padding-bottom: 15px;">
                        <a class="ui-button ui-widget ui-corner-all" id="ButtonRegistrarGroupAcademic" href=<%= "/academics/groups/new" %> target="_self" title="Agregar Grupo" id="ButtonRegistrarGroupAcademic" class="boton">Añadir un Grupo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
