<div id="wb_LayoutGridGruposAcademic">
    <div id="LayoutGridGruposAcademic">
        <div class="row">
            <div class="col-1">
                <div id="wb_LayoutContentGHrupos">
                    <%= render "infogroups"%>
                    <%= render "form", title: "Crear" %>
                </div>
            </div>
        </div>
    </div>
</div>