        <div id="wb_LayoutGrid1">
            <div id="LayoutGrid1">
                <div class="row">
                    <div class="col-1">
                        <div id="wb_Text1" class="TextoNoticia">
                            <span style="color:#000000;font-family:Arial;font-size:13px;">*Se empieza a generar costo adicional cuando se añaden mas de 5 materias</span>
                        </div>
                        <hr id="Line4" style="display:block;width: 100%;z-index:8;">
                        <table style="display:table;width:100%;height:208px;z-index:9;" id="TablaMateriasDisp">
                            <tr>
                                <td class="cell0"><div id="wb_Checkbox1" style="display:inline-block;width:20px;height:20px;z-index:0;">
                                        <input type="checkbox" id="Checkbox1" name="" value="on" checked class="CheckBox" style="display:inline-block;" disabled><label for="Checkbox1"></label>
                                    </div>
                                </td>
                                <td class="cell1"><span style="color:#000000;"><strong>MATERIA</strong></span></td>
                                <td class="cell1"><span style="color:#000000;"><strong>LUN</strong></span></td>
                                <td class="cell1"><span style="color:#000000;"><strong>MAR</strong></span></td>
                                <td class="cell1"><span style="color:#000000;"><strong>MIE</strong></span></td>
                                <td class="cell1"><span style="color:#000000;"><strong>JUE</strong></span></td>
                                <td class="cell1"><span style="color:#000000;"><strong>VIE</strong></span></td>
                                <td class="cell1"><span style="color:#000000;"><strong>SAB</strong></span></td>
                                <td class="cell1"><span style="color:#000000;"><strong>DOM</strong></span></td>
                                <td class="cell1"><span style="color:#000000;"><strong>CRED</strong></span></td>
                                <td class="cell1"><span style="color:#000000;"><strong>COSTO AD</strong></span></td>
                            </tr>
                            <tr>
                                <td class="cell2"><div id="wb_Checkbox2" style="display:inline-block;width:20px;height:20px;z-index:1;">
                                        <input type="checkbox" id="Checkbox2" name="" value="on" class="CheckBox" style="display:inline-block;"><label for="Checkbox2"></label>
                                    </div>
                                </td>
                                <td class="cell3"><span style="color:#000000;">MATERIA 1</span></td>
                                <td class="cell3"><span style="color:#000000;">9:00-11:00 AM</span></td>
                                <td class="cell3"><span style="color:#000000;"> </span></td>
                                <td class="cell3"><span style="color:#000000;"> </span></td>
                                <td class="cell3"><span style="color:#000000;"> </span></td>
                                <td class="cell3"><span style="color:#000000;">9:00-11:00 AM</span></td>
                                <td class="cell3"><span style="color:#000000;"> </span></td>
                                <td class="cell3"><span style="color:#000000;"> </span></td>
                                <td class="cell3"><span style="color:#000000;">4</span></td>
                                <td class="cell3"><span style="color:#000000;">$1.030.000</span></td>
                            </tr>
                            <tr>
                                <td class="cell2"><div id="wb_Checkbox3" style="display:inline-block;width:20px;height:20px;z-index:2;">
                                        <input type="checkbox" id="Checkbox3" name="" value="on" class="CheckBox" style="display:inline-block;"><label for="Checkbox3"></label>
                                    </div>
                                </td>
                                <td class="cell3"><span style="color:#000000;">MATERIA 2</span></td>
                                <td class="cell3"><span style="color:#000000;"> </span></td>
                                <td class="cell3"><span style="color:#000000;">9:00-11:00 AM</span></td>
                                <td class="cell3"><span style="color:#000000;"> </span></td>
                                <td class="cell3"><span style="color:#000000;">9:00-11:00 AM</span></td>
                                <td class="cell3"><span style="color:#000000;"> </span></td>
                                <td class="cell3"><span style="color:#000000;"> </span></td>
                                <td class="cell3"><span style="color:#000000;"> </span></td>
                                <td class="cell3"><span style="color:#000000;">3</span></td>
                                <td class="cell3"><span style="color:#000000;">$1.010.000</span></td>
                            </tr>
                            <tr>
                                <td class="cell2"><div id="wb_Checkbox4" style="display:inline-block;width:20px;height:20px;z-index:3;">
                                        <input type="checkbox" id="Checkbox4" name="" value="on" class="CheckBox" style="display:inline-block;"><label for="Checkbox4"></label>
                                    </div>
                                </td>
                                <td class="cell3"><span style="color:#000000;">MATERIA 3</span></td>
                                <td class="cell3"><span style="color:#000000;">14:00-16:00 PM</span></td>
                                <td class="cell3"><span style="color:#000000;"> </span></td>
                                <td class="cell3"><span style="color:#000000;">14:00-16:00 PM</span></td>
                                <td class="cell3"><span style="color:#000000;"> </span></td>
                                <td class="cell3"><span style="color:#000000;"> </span></td>
                                <td class="cell3"><span style="color:#000000;"> </span></td>
                                <td class="cell3"><span style="color:#000000;"> </span></td>
                                <td class="cell3"><span style="color:#000000;">3</span></td>
                                <td class="cell3"><span style="color:#000000;">$1.200.000</span></td>
                            </tr>
                            <tr>
                                <td class="cell2"><div id="wb_Checkbox5" style="display:inline-block;width:20px;height:20px;z-index:4;">
                                        <input type="checkbox" id="Checkbox5" name="" value="on" class="CheckBox" style="display:inline-block;"><label for="Checkbox5"></label>
                                    </div>
                                </td>
                                <td class="cell3"><span style="color:#000000;">MATERIA 4</span></td>
                                <td class="cell3"><span style="color:#000000;"> </span></td>
                                <td class="cell3"><span style="color:#000000;">7:00-9:00 AM</span></td>
                                <td class="cell3"><span style="color:#000000;"> </span></td>
                                <td class="cell3"><span style="color:#000000;">7:00-9:00 AM</span></td>
                                <td class="cell3"><span style="color:#000000;"> </span></td>
                                <td class="cell4"><span style="color:#000000;"> </span></td>
                                <td class="cell3"><span style="color:#000000;"> </span></td>
                                <td class="cell3"><span style="color:#000000;">3</span></td>
                                <td class="cell3"><span style="color:#000000;">$300.000</span></td>
                            </tr>
                            <tr>
                                <td class="cell2"><div id="wb_Checkbox6" style="display:inline-block;width:20px;height:20px;z-index:5;">
                                        <input type="checkbox" id="Checkbox6" name="" value="on" class="CheckBox" style="display:inline-block;"><label for="Checkbox6"></label>
                                    </div>
                                </td>
                                <td class="cell3"><span style="color:#000000;">MATERIA 5</span></td>
                                <td class="cell3"><span style="color:#000000;"> </span></td>
                                <td class="cell3"><span style="color:#000000;"> </span></td>
                                <td class="cell3"><span style="color:#000000;">7:00-9:00 AM</span></td>
                                <td class="cell3"><span style="color:#000000;"> </span></td>
                                <td class="cell3"><span style="color:#000000;">7:00-9:00 AM</span></td>
                                <td class="cell3"><span style="color:#000000;"> </span></td>
                                <td class="cell3"><span style="color:#000000;"> </span></td>
                                <td class="cell3"><span style="color:#000000;">3</span></td>
                                <td class="cell3"><span style="color:#000000;">$750.000</span></td>
                            </tr>
                            <tr>
                                <td class="cell2"><div id="wb_Checkbox7" style="display:inline-block;width:20px;height:20px;z-index:6;">
                                        <input type="checkbox" id="Checkbox7" name="Checkbox7" value="on" class="CheckBox" style="display:inline-block;"><label for="Checkbox7"></label>
                                    </div>
                                </td>
                                <td class="cell3"><span style="color:#000000;">MATERIA N</span></td>
                                <td class="cell5">&nbsp;</td>
                                <td class="cell3"><span style="color:#000000;">13:00-15:00 PM</span></td>
                                <td class="cell5">&nbsp;</td>
                                <td class="cell3"><span style="color:#000000;">13:00-15:00 PM</span></td>
                                <td class="cell5">&nbsp;</td>
                                <td class="cell5">&nbsp;</td>
                                <td class="cell5">&nbsp;</td>
                                <td class="cell3"><span style="color:#000000;">3</span></td>
                                <td class="cell3"><span style="color:#000000;">$540.000</span></td>
                            </tr>
                        </table>
                        <hr id="Line1" style="display:block;width: 100%;z-index:10;">
                        <button type="submit" id="ThemeableButton1" name="add-materias" value="Añadir Materia" class="boton" style="display:inline-block;width:183px;height:60px;z-index:11;">Añadir Materia</button>
                    </div>
                </div>
            </div>
        </div>