<div id="LayerSecundario">
    <div id="LayerSecundario_Container">
        <div id="wb_TextBienvenida" class="TextoHeader">
            <span style="color:#EEAD17;font-family:'Segoe UI';font-size:27px;"><strong>Bienvenido Usuario!</strong></span></div>
        <div id="wb_iconNotificaciones">
            <svg id="iconNotificaciones" class="imagen" height="100%" width="100%" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <g transform="scale(0.0179)">
            <path transform="rotate(180) scale(-1,1) translate(0,-1536)" d="M912 -160q0 16 -16 16q-59 0 -101.5 42.5t-42.5 101.5q0 16 -16 16t-16 -16q0 -73 51.5 -124.5t124.5 -51.5q16 0 16 16zM1728 128q0 -52 -38 -90t-90 -38h-448q0 -106 -75 -181t-181 -75t-181 75t-75 181h-448q-52 0 -90 38t-38 90q50 42 91 88t85 119.5t74.5 158.5t50 206t19.5 260q0 152 117 282.5t307 158.5q-8 19 -8 39q0 40 28 68t68 28t68 -28t28 -68q0 -20 -8 -39q190 -28 307 -158.5t117 -282.5q0 -139 19.5 -260t50 -206t74.5 -158.5t85 -119.5t91 -88z"/>
            </g>
            </svg>
        </div>
    </div>
</div>
<div id="wb_LayoutGridLogin" class="container">
    <div id="LayoutGridLogin">
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-2">
                <div class="col-2-padding">
                    <div id="wb_LayoutGrid1">
                        <div id="LayoutGrid1">
                            <div class="row">
                                <div class="col-1">
                                    <hr id="separador1" class="separador">
                                    <div id="wb_TextTituloLogin" class="h1">
                                        <h1>Iniciar Sesion como Estudiante</h1>
                                    </div>
                                    <hr id="separador2" class="separador">
                                    <div id="wb_iconLogin">
                                        <svg id="iconLogin" height="100%" width="100%" viewBox="0 0 157 157" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                        <g transform="scale(0.0876)">
                                        <path transform="rotate(180) scale(-1,1) translate(0,-1536)" d="M896 1536q182 0 348 -71t286 -191t191 -286t71 -348q0 -181 -70.5 -347t-190.5 -286t-286 -191.5t-349 -71.5t-349 71t-285.5 191.5t-190.5 286t-71 347.5t71 348t191 286t286 191t348 71zM1515 185q149 205 149 455q0 156 -61 298t-164 245t-245 164t-298 61t-298 -61t-245 -164t-164 -245t-61 -298q0 -250 149 -455q66 327 306 327q131 -128 313 -128t313 128q240 0 306 -327zM1280 832q0 159 -112.5 271.5t-271.5 112.5t-271.5 -112.5t-112.5 -271.5t112.5 -271.5t271.5 -112.5t271.5 112.5t112.5 271.5z"/>
                                        </g>
                                        </svg>

                                    </div>
                                    <hr id="Line4">
                                    <input type="text" id="EditboxCodigo" class="EditBox" name="EditboxCodigo" value="" spellcheck="false" placeholder="Codigo">
                                    <hr id="Line1" class="separador">
                                    <input type="password" id="EditboxPassword" class="EditBox" name="EditBoxPassword" value="" spellcheck="false" placeholder="Password LDAP">
                                    <hr id="Line2" class="separador">
                                    <div id="Html2">
                                        <div class="capbox">

                                            <div id="CaptchaDiv"></div>

                                            <div class="capbox-inner">Ingrese el numero Correspondiente:<br>

                                                <input type="hidden" id="txtCaptcha">
                                                <input type="text" name="CaptchaInput" id="CaptchaInput" size="15"><br>

                                            </div>
                                        </div>
                                        <br><br></div>
                                    <hr id="Line3" class="separador">
                                    <div id="wb_ButtonEntrarMonitoria">
                                        <a class="ui-button ui-widget ui-corner-all" id="ButtonEntrarMonitoria" href="" id="ButtonEntrarMonitoria" class="boton")">Entrar</a>
                                    </div>
                                    <hr id="Line6" class="separador">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
            </div>
        </div>
    </div>
</div>