@font-face
{
   font-family: "Material Icons";
   font-style: normal;
   font-weight: 400;
   src: url(MaterialIcons-Regular.eot);
   src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(../MaterialIcons-Regular.woff2) format('woff2'),
        url(../MaterialIcons-Regular.woff) format('woff'),
        url(../MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons
{
   font-family: "Material Icons";
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
   display: inline-block;
   line-height: 1;
   text-transform: none;
   letter-spacing: normal;
   word-wrap: normal;
   white-space: nowrap;
   direction: ltr;
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizeLegibility;
   -moz-osx-font-smoothing: grayscale;
   font-feature-settings: "liga";
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
.visibility-hidden
{
   visibility: hidden;
}
a.FooterMenu
{
   color: #FFFFFF;
   font-weight: bold;
   text-decoration: none;
}
a.FooterMenu:visited
{
   color: #FFFFFF;
   font-weight: bold;
   text-decoration: none;
}
a.FooterMenu:active
{
   color: #FFFFFF;
   font-weight: bold;
   text-decoration: none;
}
a.FooterMenu:hover
{
   color: #FFFFFF;
   text-decoration: underline;
}
h1, .h1
{
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h2, .h2
{
   font-family: Arial;
   font-weight: bold;
   font-size: 27px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h3, .h3
{
   font-family: Arial;
   font-weight: bold;
   font-size: 24px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h4, .h4
{
   font-family: Arial;
   font-weight: bold;
   font-size: 21px;
   font-style: italic;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h5, .h5
{
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h6, .h6
{
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
.CustomStyle
{
   font-family: "Courier New";
   font-weight: bold;
   font-size: 16px;
   text-decoration: none;
   color: #2E74B5;
   background-color: transparent;
}
.boton
{
   font-family: "Segoe UI";
   font-weight: bold;
   font-size: 19px;
   text-align: center;
   text-decoration: none;
   color: #FFFFFF;
   background-color: #0076C0;
   border: 1px none #0076C0;
   border-radius: 4px;
}
.EditBox
{
   font-family: "Segoe UI";
   font-weight: normal;
   font-size: 13px;
   text-decoration: none;
   color: #1D1D1D;
   background-color: transparent;
   border: 1px solid #A9A9A9;
   border-radius: 4px;
   padding: 0px 0px 0px 4px;
}
.GridLayoutFooterCopy
{
   font-family: "Segoe UI";
   font-weight: normal;
   font-size: 13px;
   text-decoration: none;
   color: #FFFFFF;
   background-color: #233140;
}
.GridLayoutFooter
{
   font-family: "Segoe UI";
   font-weight: bold;
   font-size: 19px;
   text-decoration: none;
   color: #FFFFFF;
   background-color: #2C3E50;
}
.LayerPrincipal
{
   text-decoration: none;
   background-color: #EEAD17;
}
.LayerSecundario
{
   font-family: "Segoe UI";
   font-weight: bold;
   text-decoration: none;
   color: #FFFFFF;
   background-color: #0076C0;
   background: linear-gradient(to top, #0076C0 0%, #0076C0 100%);
}
.TextoInfoFooter
{
   font-family: "Segoe UI";
   font-weight: normal;
   font-size: 15px;
   text-align: center;
   text-decoration: none;
   color: #FFFFFF;
   background-color: transparent;
}
.TextoTituloFooter
{
   font-family: "Segoe UI";
   font-weight: bold;
   font-size: 24px;
   text-align: center;
   text-decoration: none;
   color: #FFFFFF;
   background-color: transparent;
   padding: 20px 0px 20px 0px;
}
.h_iframe
{
   font-family: "Segoe UI";
   font-weight: bold;
   font-size: 27px;
   text-decoration: none;
   background-color: transparent;
   width: 100%;
   height: 100%;
}
.iframe
{
   font-family: Arial;
   font-size: 13px;
   text-decoration: none;
   color: #FFFFFF;
   background-color: transparent;
}
.PanelPrincipal
{
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   text-decoration: none;
   color: #FFFFFF;
   background-color: transparent;
}
.TextoHeader
{
   font-family: "Segoe UI";
   font-weight: bold;
   font-size: 27px;
   text-decoration: none;
   color: #EEAD17;
   background-color: transparent;
}
.TablaBody
{
   font-family: "Segoe UI";
   font-size: 16px;
   text-decoration: none;
   color: #4F4F4F;
   background-color: transparent;
   border: 0px none #FFFFFF;
}
.TituloNoticia
{
   font-family: "Segoe UI";
   font-size: 43px;
   text-decoration: none;
   color: #4F4F4F;
   background-color: #FFFFFF;
   background-color: rgba(255,255,255,0.67);
}
.BarraTitulo
{
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   text-decoration: none;
   color: #FFFFFF;
   background-color: #FFFFFF;
   border: 1px solid #DCDCDC;
   border-radius: 7px;
}
.TextoNoticia
{
   font-family: "Segoe UI";
   font-size: 13px;
   text-decoration: none;
   color: #5A5A5A;
   background-color: transparent;
}
.TextoDivisor
{
   font-family: Arial;
   font-weight: bold;
   font-size: 35px;
   text-align: center;
   text-decoration: none;
   color: #FFFFFF;
   background-color: transparent;
}
.TituloDivisorNegro
{
   font-family: Arial;
   font-weight: bold;
   font-size: 35px;
   text-align: center;
   text-decoration: none;
   color: #3C3C3C;
   background-color: transparent;
}
.capbox
{
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   background-color: #92D433;
   border: #B3E272 0px solid;
   border-width: 0px 12px 0px 0px;
   display: inline-block;
   *display: inline;
   zoom: 1;
   /* FOR IE7-8 */
padding: 8px 40px 8px 8px;
}
.capbox-inner
{
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   font: bold 11px arial, sans-serif;
   color: #000000;
   background-color: #DBF3BA;
   margin: 5px auto 0px auto;
   padding: 3px;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
}
.CapchaDiv
{
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   font: bold 17px verdana, arial, sans-serif;
   font-style: italic;
   color: #000000;
   background-color: #FFFFFF;
   padding: 4px;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
}
.CapchaInput
{
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 1px 0px 1px 0px;
   width: 135px;
}
.TextoNoticia
{
   font-family: "Segoe UI";
   font-size: 15px;
   text-align: justify;
   text-decoration: none;
   color: #DCDCDC;
   background-color: transparent;
}
.TextoActividad
{
   font-family: "Segoe UI";
   font-size: 17px;
   text-align: justify;
   text-decoration: none;
   color: #DCDCDC;
   background-color: transparent;
}
.SubTitulo
{
   font-family: "Segoe UI";
   font-weight: bold;
   font-size: 27px;
   text-decoration: none;
   color: #DCDCDC;
   background-color: transparent;
}
.TextoInfoMateria
{
   font-family: "Segoe UI";
   font-size: 19px;
   text-align: left;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
}
.Tabla
{
   font-family: "Segoe UI";
   font-size: 19px;
   text-align: left;
   text-decoration: none;
   color: #464646;
   background-color: transparent;
}
.ComboBox
{
   font-family: "Segoe UI";
   font-size: 19px;
   text-align: left;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   border: 1px solid #A9A9A9;
   border-radius: 5px;
   padding: 0px 0px 0px 4px;
}
.CheckBox
{
   font-family: "Segoe UI";
   font-size: 13px;
   text-decoration: none;
   color: #000000;
   background-color: #0076C0;
   border: 1px solid #DCDCDC;
   border-radius: 4px;
}
