<h1>Mas sido matriculado</h1>
<p>Has sido matriculado exitosamente en la universidad</p>
<p>Los siguientes van a ser tus datos. Guardalos bien.</p>
<%= "Nombres Completos: " + @student.nombres + " " @student.apellidos %>