<h1>Se ha inscrito a una monitoria</h1>
<h2><%= 'Hola' + @student.nombres%></h2>
<p>Usted se ha acabado de inscribir en la materia <%= @subject.nombre como minitor academico. Si usted no realizo esta accion, comuniquese inmediatamente con un encgargado de la universidad.%></p>
<p>Gracias</p>
<p>A<strong>ATTE: </strong> Universidad Catolica de Colombia</p>
<hr>
<p>Este mensaje se genero automaticamente, por favor no responderlo. Gracias</p>