<% if inicio%>
	<div id="wb_LayoutGrid10">
	    <div id="LayoutGrid10">
	        <div class="row">
	            <div class="col-1">
	                <div id="wb_CssMenu2">
	                    <ul role="menubar">
	                        <li class="firstmain"><a role="menuitem" href="#BookmarkServicios" target="_self" title="Servicios">Servicios</a>
	                        </li>
	                        <li><a role="menuitem" href="#BookmarkNoticia" target="_self" title="Noticias">Noticias</a>
	                        </li>
	                        <li><a role="menuitem" href="#BookmarkActividades" target="_self" title="Actividades">Actividades</a>
	                        </li>
	                        <li><a role="menuitem" href="#BookmarkBeneficios" target="_self">Beneficios</a>
	                        </li>
	                        <li><a role="menuitem" href="#BookmarkNuetrasSedes" target="_self" title="Nuestras Sedes">Nuestras&nbsp;Sedes</a>
	                        </li>
	                        <li><a role="menuitem" href="#BookmarkFooter" target="_self" title="Quienes Somos?">Quienes&nbsp;Somos?</a>
	                        </li>
	                    </ul>

	                </div>
	            </div>
	        </div>
	    </div>
	</div>
<% end %>